[2013-07-18 09:03] mtenorth opened #1 "OWL paths broken in .deb packages"
When starting KnowRob from the .deb binary version, the following error message appears, which indicates that several OWL files are not parsed correctly.

Warning: /opt/ros/fuerte/stacks/knowrob/knowrob_objects/prolog/knowrob_objects.pl:84:
    Goal (directive) failed: knowrob_objects:owl_parser:owl_parse(../owl/knowrob_objects.owl,false,false,true)

[2013-08-14 07:54] mtenorth opened #2 "Update repository location in ROS wiki"
This is related to the rosdoc issue (tum.rosinstall takes too long to compile and has therefore been deactivated)

[2013-08-14 15:38] mtenorth opened #3 "knowrob_cad_parser seems to auto-center meshes"
This can be an issue if the origin of the mesh (i.e. the point that the object's pose refers to) is not in the center of the bounding box. Instead, objects should be drawn as indicated in the mesh file (relative to the origin of the mesh file that has been moved to the object's position)

[2013-08-29 16:15] mtenorth opened #4 "Reconsider handling of end time for object perceptions"
In plan logs, the end time of a perception event is normally just after its start, while the belief about the object location should persist until the object has been detected again. Therefore, the current setup of checking whether a time point is during the duration of a perception event does not seem to make sense any more.

[2013-09-17 07:09] knowrob opened #5 "json_prolog seems to truncate floats when contained in lists"
While reading floats as normal variable bindings works well, they seem to be cast to integers when packed into lists.

[2013-10-27 18:54] micpalmia opened #6 "json_prolog python library always calls the main namespace"
The [json_prolog](https://github.com/knowrob/knowrob/blob/master/json_prolog/src/json_prolog/prolog.py) python library calls the prolog services using addresses of the form `/json_prolog/*`.

If the node using the library and the `json_prolog` node are launched inside a specific namespace (i.e. if multiple robots are launched in their own namespaces) the code will still invoke the service in the m

[2013-11-12 16:17] #2 closed, assigned to mtenorth

[2013-11-12 16:18] #1 closed, assigned to mtenorth

[2013-11-18 15:06] #6 closed, assigned to nobody

[2014-02-11 15:52] mtenorth opened #10 "Remove "default" capabilities in SRDL"
Capabilities that do not have any dependencies are always returned, also for non-existing robots. A check for the existence of a robot instance should be added.

In addition, several __description instances are returned, and it's not clear why that is the case.

[2014-02-11 17:14] #10 closed, assigned to mtenorth

[2014-02-27 08:07] albertK opened #11 "Unable to load existing OWL in Semantic Map Editor"
When I tried to load and existing OWL file in Semantic Map Editor, the console output the following messages and just stuck there :

[code]

What might be the cause and how to solve it? Thanks~

This is a same post as this:
http://answers.ros.org/question/132411/unable-to-load-existing-owl-in-semantic-map-editor/

[2014-06-10 15:01] mtenorth opened #13 "Update methods for loading OWL files"
- no THEA any more, load RDF directly
- new predicate for loading files that understands file://, http:// and
  package:// URLs

[2014-06-10 15:01] #13 closed, assigned to mtenorth

[2014-06-10 15:02] mtenorth opened #14 "Proper handling of rospack system calls"
Finish the calls correctly to get rid of 'rospack' zombie processes

[2014-06-10 15:03] #14 closed, assigned to mtenorth

[2014-06-10 15:03] mtenorth opened #15 "RDF portray for shorter namespaces"
Use rdf_portray by default: Shortens URLs if there are RDF namespace definitions

[2014-06-10 15:05] #15 closed, assigned to mtenorth

[2014-06-10 15:06] mtenorth opened #16 "Switch to default semweb and jpl packages"
Use upstream versions whenever possible to profit from updates and further development. The current setup with copied fixed versions was only due to issues with the JPL and semweb versions in old Ubuntu packages.
- Test if they work fine in 12.04 -- 14.04
- Remove proprietary versions
- Check if changes need to be ported?
- Move owl.pl to knowrob_common

[2014-06-10 15:07] mtenorth opened #17 "Test with Prolog 6.x and 7.x"
There have been significant changes in SWI Prolog 6.x and 7.x -- test if they affect the parts used in KnowRob

[2014-06-10 15:08] mtenorth opened #18 "Clean up: Merge and move packages"
- ---Merge basic packages: ias_prolog_addons, ias_knowledge_base, knowrob_common,
  semweb---
- What to do with the old weka/mallet jar files?
- ---Merge comp_semantic_map---
- Move mod_probcog, srldb, knowrob_omics to knowrob_addons
- ---Move knowrob_vis, knowrob_mongo into the core stack---
- Also motion_constraints, mesh_reasoning, knowrob_cram?

[2014-06-10 15:17] mtenorth opened #19 "Update naming: knowrob_* instead of comp/mod"
Use more unique names, also given that packages are not organized into stacks any more.

[2014-06-10 15:18] mtenorth opened #20 "Replace deprecated cs.tum.edu-URLs"
Update URLs: knowrob.org instead of ias.cs.tum.edu

[2014-06-10 15:18] mtenorth opened #21 "Catkinize KnowRob"
Switch the buildsystem from rosbuild to catkin in order to be compatible with the newer versions of ROS.
- Convert rosjava_jni packages to rosjava
- get_ld_lib_path -> pkg-config
- get_pkg_classpath -> rosjava
- tf client for rosjava?

[2014-06-10 15:20] mtenorth opened #22 "Separate code and data packages"
Mixing code and data as for instance in the semantic map packages has already caused problems when trying to re-use the code in another setting. These two aspects should therefore be separated into different packages as much as possible, leaving only code and ontologies in the one, and maps/object knowledge/action instances/recipes/... in the other package.
- Do not auto-load data files like the s

[2014-06-10 15:21] mtenorth opened #23 "Double-check licenses"
Check all licenses of all packages again.
- Is BSD possible?
- Are all headers ok?

[2014-06-10 15:22] mtenorth opened #24 "Replace mod_vis with Web-based visualization modules"
Replace the old Java-based visualization canvas with the faster and more versatile Web-based solution.
- Use local Web server for visualization
- Prolog macro for starting the server

[2014-06-10 15:22] mtenorth opened #25 "Update jar files"
- Use up-to-date versions
- Put into subfolders with license texts

[2014-06-10 15:23] mtenorth opened #26 "Auto-generate Eclipse projects"
Maybe this is possible using rosjava tools?

[2014-06-10 15:23] mtenorth opened #27 "Allow to start the rosprolog server from within KnowRob"
- Would allow queries to be sent via ROS and the interactive shell
- Better for debugging?

[2014-06-10 15:23] knowrob opened #28 "Update the wiki and tutorials after the changes"
* new package names
  * check if tutorials still work
  * remove references to ias.cs.tum.edu

[2014-06-10 15:24] mtenorth opened #29 "Update dependencies in knowrob_gui, knowrob_tutorials, knowrob_human"

[2014-06-13 15:47] #26 closed, assigned to mtenorth

[2014-06-13 15:47] #25 closed, assigned to mtenorth

[2014-06-13 15:51] #16 closed, assigned to mtenorth

[2014-06-17 08:34] #24 closed, assigned to mtenorth

[2014-06-17 08:34] #21 closed, assigned to mtenorth

[2014-06-17 12:06] #18 closed, assigned to mtenorth

[2014-06-24 11:06] #19 closed, assigned to mtenorth

[2014-06-24 11:30] knowrob opened #30 "Fix documentation generation"
The generation of the API docs is currently broken because it has not yet been ported from the ias.cs.tum.edu domain. Either
a) manually install API docs on knowrob.org, or
b) set up automated doc generation and deployment (preferred)

[2014-06-24 12:02] #22 closed, assigned to mtenorth

[2014-07-03 15:58] mtenorth opened #31 "Enhance unit test coverage"

[2014-07-10 13:13] fairlight1337 opened #32 "New Features for the RoboHow Web Console"
Hey there,

@hatguy and me just discussed some open topics that could be tackled in the near future within the RoboHow Web Console interface:

 - [ ] Dynamic listing (and loading) of experiments (contrary to having fixed a list of experiments in the query library)
 - [ ] Create default statistics/information blocks from experiment data (for a quick analysis/glance on what the experiment consists o

[2014-08-12 11:05] bbferka opened #33 "catkinized json_prolog issues"
missing INCLUDE_DIRS and LIBRARIES in the declaration catkin_package. It should look something like this:

catkin_package(INCLUDE_DIRS include
     LIBRARIES json_prolog
     CATKIN_DEPENDS json_prolog_msgs #not sure if this is needed
     DEPENDS rosprolog
     )

This way packages that depend on json_prolog can find the includes and libraries.

Also the code from the  tutorial for the java clien

[2014-08-12 15:26] #33 closed, assigned to nobody

[2014-08-22 17:30] dirk-thomas opened #35 "Groovy packages fail to build"
http://jenkins.ros.org/view/GbinP64/job/ros-groovy-knowrob_binarydeb_precise_amd64/130/console

The resource it tries to download is not available: http://code.in.tum.de/files/jpl.tar.gz

Please fix this asap since this is the last (or second last) rebuild of Groovy before the farm is decommissioned. If the package isn't fixed by then it would be removed fro the distribution with the last sync to

[2014-09-05 13:07] #35 closed, assigned to mtenorth

[2014-09-05 13:09] #20 closed, assigned to mtenorth

[2014-09-05 13:10] #29 closed, assigned to mtenorth

[2014-09-17 07:07] knowrob opened #40 "Classpath of KnowRob packages that are loaded after JPL has been initialized is ignored"
KnowRob constructs the CLASSPATH environment variable by collecting entries stored in the classpath.txt files in each rosjava package in the dependencies. Usually, this is done at startup by the rosprolog script, but can also be done by the register_ros_package() predicate.

The problem is that Java only considers the CLASSPATH variable once when the JVM is initialized, i.e. changes of this variab

[2014-11-20 07:48] knowrob opened #45 "Update KnowRob for indigo"
- Add rosdep definitions for Ubuntu Trusty to rosdistro
- Test with new Prolog version in Ubuntu Trusty
- Update installation instructions

[2014-11-20 15:25] zyfang opened #46 "Web Interface query visits all solutions"
When a query is called inside of the web interface, all solutions seems to be checked at the backend even though only one solution is shown. This is an issue for visualizing trajectories, because it causes all trajectories that fulfil the query to be visualized at the same time, rather than only one.

For example, if I call

I get this correct result, which is the first contactEvent involving a cu

[2014-11-27 12:34] andrzej-at-mazurkiewicz-org opened #47 "Knowrob installation stops at "rosdep install knowrob" phase."
Good Afternoon.

I tried to install knowrob on brand-new 32bit trusty kubuntu.
After installing of the ros-indigo-desktop-full, I have created a
separate user knowrob.
I have used the following procedure within the knowrob account.

export ROS_WORKSPACE=$HOME/catkin_ws/src
mkdir -p $ROS_WORKSPACE
cd $ROS_WORKSPACE
~/catkin_ws/src$ catkin_init_workspace
~/catkin_ws/src$ cd ..
~/catkin_ws$ catkin_ma

[2015-01-06 13:44] knowrob commented on #32
I haven't used it yet, but would be interested to learn more about its capabilties.

[2015-01-15 09:25] knowrob commented on #47
Nothing to be fixed, has been discussed in PM

[2015-01-15 09:25] #47 closed

[2015-02-01 20:07] Sanic commented on #45
Hey logicmoo,

i just tried out the recent json_prolog service on indigo, and it worked for me so far.
Updating rosjava seems to be the key, as i stated in the mentioned in the rosjava issue.
Can you please give us some feedback if also works for you?

Greetings

[2015-02-02 07:09] knowrob commented on #45
Works for me as well when installing rosjava and KnowRob using the following Dockerfiles (which list all required commands to be performed, starting from a plain Ubuntu 14.04).

https://github.com/knowrob/docker/blob/master/indigo-swi-rosjava/Dockerfile
https://github.com/knowrob/docker/blob/master/indigo-knowrob-interactive/Dockerfile

[2015-02-25 16:41] #46 closed

[2015-02-25 16:57] daniel86 commented on #5
Fixed with https://github.com/knowrob/knowrob/commit/16d5873cf8726fce27d77b8fb850e68960d3bb47 and https://github.com/knowrob/knowrob/commit/3e27ffd4d66de383794dbdc3e6ff1cb7d968dd13 .
I had some precision troubles with json_prolog and timestamps because
float was used when the results were converted to JSON.
Switching to double fixed it. But it also happened for plain numbers not
only for numbers i

[2015-02-25 16:57] #5 closed

[2015-02-25 16:58] #45 closed

[2015-03-02 15:02] daniel86 commented on #40
I would suggest that we use a custom ClassLoader in knowrob to avoid this problem.

[2015-03-03 08:01] #28 closed

[2015-05-12 13:37] daniel86 commented on #40
Fixed with https://github.com/knowrob/knowrob/commit/4c49b7ed159309b078981fa7af04ef35adc29ca9 in indigo-devel branch.
I just changed it so that all generated classpath.txt files are handled when register_ros_package
is called the first time.
So at least one register_ros_package call must be made before Java code is called.

[2015-05-12 13:37] #40 closed

[2015-10-19 09:20] airballking opened #66 "assertion of facts through json-prolog relatively slow"
Abstract:
It seems assertion of facts into ```knowrob``` through the ```json-prolog``` interface takes about 0.2s per fact. I need to speed this up. @daniel86 @knowrob @fairlight1337 Could you please help me make with this?

Details:
I am trying to assert new facts into a running ```knowrob``` instance runtime to later query for those facts through the ```json-prolog``` interface. I have the impre

[2015-10-19 09:54] daniel86 commented on #66
It could be an issue with multithreaded rosjava.
Each query is processed in a dedicated thread (queries must be bound to a thread).
For synchronization there are some Thread.sleep(100) and `synchronized` calls, maybe that's the issue.
You can find source with some debugging symbols and I changed Thread.sleep(100) to Thread.sleep(50) in [1,2]. Please try and report back.
  [1] -> json_prolog/src/ma

[2015-10-19 10:52] airballking commented on #66
I ran the same test with your adjusted calls to ```Thread.sleep(50)```. The results I get on the lisp side are much faster:

[code]

I'd say the speed-up is almost 100ms. Any idea what a safe lower bounds for these sleeps can be?

[2015-10-19 10:59] airballking commented on #66
I just further reduced both sleep-calls to 10ms. Here are the results on the lisp side for asserting 100 facts:

[code]

It looks like we can get even faster for the minimum and average case. I keep on trying.

[2015-10-19 11:32] airballking commented on #66
When reducing the sleeps to 1ms we seem to see the real calculation times. With the recent speed up, I allowed myself to run 1000 fact assertion. ;)

For the analysis, I extended my calculations to also calculate min, max, and avg for the middle 2 quantiles of the measurements to discard outliers. Here are the analysis results:

[code]

So, I'd say that worked pretty well. On average, we need arou

[2015-10-19 11:36] airballking commented on #66
I opened up a pull request with the reduced sleeps for convenient merging after we have all green lights. :)

[2015-10-19 11:38] fairlight1337 commented on #66
No problem here.

[2015-10-19 13:07] daniel86 commented on #66
Request is merged, thanks!
Sleep calls can also be completely avoided by using sleep/wake up mechanism, I will look into this when I find the time.

[2015-10-19 13:07] #66 closed

[2015-10-23 12:39] mtenorth opened #69 "Java classpath construction does not work properly with catkin 'install' space"
The current procedure of constructing the Java classpath by finding and concatenating classpath.txt files in the dependent ROS packages does not scale to catkin install spaces. The classpath.txt contains global paths and references to the src and devel spaces that should not be in there.

Possibly there is a new way of discovering rosjava projects in dependent catkin packages in the Indigo release

[2015-12-15 18:03] alquimist opened #77 "Issues with knowrob_srdl:compile when instrucctions for knowrob installation"
I've been trying install the CRAM language, when I process catkin_make in ros to install knowrob from stacks, there is a failure with some depencencies,  the error is show below, some body could provide any guide to install it,

Thanks.

Gradling tasks for knowrob_srdl
Catkin generate tree: replacing older version of gencpp[0.5.2->0.5.3]

FAILURE: Build failed with an exception.
- What went wrong:

[2016-01-22 19:07] Surxz commented on #77
This issue seems to be connected to the rosjava installation. The way I resolved it was to install rosjava from apt-get instead of building it from source. Afterwards just do a clean build of knowrob and it should work fine.

[2016-01-25 08:48] knowrob commented on #77
Indeed, the rosjava source version is quite tricky, especially the message generation. I recommend to use the rosjava .deb version whenever possible. Using the source version, multiple compilation runs of packages along the dependency chain sometimes worked, but I haven't figured out a 'clean' strategy :(

[2016-02-10 11:30] #32 closed

[2016-02-10 11:38] daniel86 opened #81 "KnowRob OWL export"
Story: code-iai/knowrob_backlog#19
Make sure OWL export works.
Allow exporting the complete ontology as well as only parts of it.

[2016-02-10 11:43] daniel86 opened #82 "Define "basic" set of predicates"
Story: code-iai/knowrob_backlog#23

[2016-02-10 11:44] daniel86 opened #83 "Testing of basic predicates"
Story: code-iai/knowrob_backlog#23

[2016-02-10 11:44] daniel86 opened #84 "Documentation of basic predicates"
Story: code-iai/knowrob_backlog#23

[2016-02-10 11:48] daniel86 opened #85 "Identify (possibly remove) unused and broken code"
Story: code-iai/knowrob_backlog#27

[2016-02-10 11:49] daniel86 opened #86 "Ensure code is well documented"
Story: code-iai/knowrob_backlog#27

[2016-04-25 13:15] airballking opened #91 "install instructions on website outdated?"
The install instructions on ```knowrob.org``` point at the rosinstall-file of the indigo-branch. Those, in turn, point at the indigo-branch. However, that branch has not seen much activity, and the repository has the master-branch as default. Should the install instruction on the websites be changed to point at the master-branch?

@daniel86 @asilx could you please clarify?

[2016-04-25 13:29] daniel86 commented on #91
true, should be master instead. Don't have credentials with me. Will change the URL's later when I am home. Thanks for reporting!

[2016-04-27 07:02] airballking commented on #91
ping

[2016-05-09 10:00] asilx opened #99 "Logging sent queries by the robot and the answers to these"
During the execution time, the planner makes some queries using json_prolog. A logging mechanism for these queries should be implemented

[2016-05-23 09:58] daniel86 opened #102 "Travis build server"
Build server is not working since some time.
Might be related to git sub modules.

[2016-05-23 10:05] #81 closed

[2016-05-27 09:28] daniel86 commented on #99
I already created a predicate and a query logging ontology for that purpose.
The predicate is called _cram_logged_query_, you can it find [here](https://github.com/knowrob/knowrob_addons/blob/master/knowrob_cram/prolog/knowrob_cram.pl#L129).

[2016-05-27 09:28] #99 closed

[2016-06-13 14:00] #91 closed

[2016-06-26 21:25] marcniehaus opened #107 "Deadlock in json_prolog"
Hello KnowRob-Team,

I am using KnowRob in combination with the CRAM2 bullet reasoining environment for an evaluation. I have a scenario similar to the spatial_relations_demo. The only difference is that I try to achieve the "object-in-hand" goal for an object which does not exist in the simulation. During the tries to grasp the object KnowRob (probably json_prolog) encounters a deadlock. If I clo

[2016-07-17 06:29] logicmoo opened #108 "Is Knowrob team going to update http://wiki.ros.org/rosprolog to kinetic ?"
Is Knowrob team going to update http://wiki.ros.org/rosprolog to kinetic  ?

[2016-07-27 11:34] andreihaidu opened #111 "Update install tutorial, add required dependencies"
List of dependencies which I needed:

from [code_iai](https://github.com/code-iai):
- iai_cad_tools
- iai_common_msgs

mjpeg_server:
http://wiki.ros.org/mjpeg_server

rosbridge_server:
apt-get install ros-indigo-rosbridge-server

json:
apt-get install libjson-glib-dev

[2016-07-27 11:35] fairlight1337 commented on #111
I can confirm that

[2016-07-27 11:49] andreihaidu commented on #111
Update:
apt-get install swi-prolog-java

[2016-08-03 13:11] gheorghelisca opened #112 "No permission to import comp_spatial:holds/2 into user (already imported from knowrob_language)"
- branch: robohow
- ERROR: /home/username/indigo/knowrob_ws/src/knowrob/comp_spatial/prolog/init.pl:40:
  import/1: No permission to import comp_spatial:holds/2 into user (already imported from knowrob_language)

[2016-08-03 13:34] fairlight1337 commented on #112
Haven't seen this one before; while I know that it happens when you start the [longterm fetch and place scenario](https://github.com/code-iai/longterm_fetch_and_place), I don't quite see how it could be related. I don't get that error when starting the scenario.

Do you have more than one knowrob installation in your workspace?

[2016-08-03 14:02] asilx commented on #112
This error is caused by in-development predicates for the new knowrob language. In particular, holds predicate is both defined in knowrob_common and knowrob_cram packages.

You can avoid this for now by commenting out the line 59 at knowrob_common/init.pl

[2016-08-04 08:36] gheorghelisca commented on #112
thanks a lot @asilx .. it seems that commenting out the line 59 at knowrob_common/init.pl did the trick

[2016-08-08 10:30] daniel86 commented on #112
Should be fixed by https://github.com/knowrob/knowrob/pull/113

[2016-08-08 10:30] #112 closed

[2016-08-08 12:53] daniel86 commented on #111
@andreihaidu to which install tutorial are you referring?

[2016-08-08 13:21] andreihaidu commented on #111
Not a tutorial per se, if one clones the repository and wants to build it via catkin.

[2016-08-08 13:22] daniel86 commented on #108
Hi @logicmoo, yes I will work on that later this year.
Are there any issues you ran into?

[2016-08-19 12:47] daniel86 opened #114 "rdfs:range not inferred by sub properties"
[code]

This breaks -- at least -- `rdfs_prolog_to_rdf` that is used for computable properties.

However there is a module private predicate `rdf_phas/3` in owl.pl that looks up axioms from super properties as well.

[2016-08-28 18:53] prfiredragon opened #117 "ERROR: rdf_db:rdf_has/3: Type error: `atom' expected, found `inverse_of(rdf:type)'"
hi.I have ros-jade on ubuntu trusty.
First for compile I have commented the line 124 on /home/mike/catkin_ws/src/stacks/knowrob/knowrob_vis/knowrob_vis/src/main/java/org/knowrob/vis/TaskTreeVisualization.java because don't let me compile. now I am tring to test the Visualizing objects, and give me that error. I run this
rosrun rosprolog rosprolog knowrob_basics_tutorial
?- owl_parse('package://kno

[2016-08-29 04:14] prfiredragon commented on #117
I uninstall ros-jade and install ros-indigo. Have the same problems. The same error to compile and the same error trying to visualize.

[2016-08-31 13:05] JKBehrens commented on #30
Is this still unresolved? At least I can't read the API documentation. I would highly appreciate, if I can get access to the json_prolog API documentation.
Thank you!

[2016-08-31 13:21] JKBehrens commented on #111
I used @gheorghelisca s workspace setup (https://github.com/gheorghelisca/ros_indigo_workspaces) to install Knowrob, CRAM, semrec and so on. I documented the whole process (last week). For knowrob, I needed to do:
`sudo apt-get install ros-indigo-rosjava* ros-indigo-mjpeg-server ros-indigo-rosbridge-server swi-prolog libjson-glib-dev`

[2016-08-31 13:29] daniel86 commented on #30
I have not looked into doc generation yet, sorry.
Will do that later this year.

[2016-08-31 20:28] prfiredragon commented on #111
Thank you for sharing the  workspace setup link. I was searching for something like that. That help me alot.

[2016-09-15 09:09] #82 closed

[2016-09-15 09:09] #83 closed

[2016-09-15 09:09] #84 closed

[2016-09-15 09:49] daniel86 commented on #117
Hi @prfiredragon!
Sorry for the delayed reply, I had some busy weeks at the institute.
Unfortunately I am not able to reproduce this bug.
I tried it with _master_ and the more recent _robohow_ branch.

-  I haven't tested KnowRob with ros-jade yet, this could be related to your problem,
it should be safe to use indigo.
- Which branch did you used for testing?
- Could you please [trace](http://www.

[2016-09-20 11:22] airballking opened #118 "KnowRob with ROS Kinetic and Ubuntu 16.04"
I was trying to use KnowRob with ROS Kinetic and Ubuntu 16.04. Basically, it did not compile because `rosjava` is not released for ROS Kinetic.

What are our plans going forward? Shall `kinetic` be supported in the short-term future? If yes, what steps do need to take?

EDIT: @asilx just asked me in person, so repeat the info here. I also tried to compile with the various `rosjava` repos checked o

[2016-09-20 12:25] daniel86 commented on #118
Hi @airballking , thanks for sharing this!
Yes, support for Kinetic would be nice, but I don't have planned yet when I will work on this subject.
There is also an open rosjava ticket about kinetic support: https://github.com/rosjava/rosjava_core/issues/222

I have never looked into rosjava internals, so it might require some effort to get into it if we need to fix it ourselves.

[2016-09-20 12:28] airballking commented on #118
@daniel86 Thanks for the quick answer, and the pointer to the rosjava issue. Then, let's see what they say!

[2016-10-10 15:50] daniel86 opened #121 "json_prolog: Include Prolog stacktrace on exceptions"
In case of `PrologException` the Prolog stacktrace is not included
at the moment. The message is usually not enough to locate the error
in the code. Included stacktrace would make it easier
to find failing code!

Unfortunately JPL implementation of `PrologException` does not seem to offer direct access to that information.

Two approaches could be possible:
- Use introspection (refelction) in orde

[2016-10-13 09:47] daniel86 opened #123 "Generic show predicate for experiments"
- use `performedInMap` property, call `show ?map`
- use another property that annotates experiments with agent individuals
  - call `show ?agent`
- Change openEASE query libraries to call `show ?experiment`

[2016-10-13 10:21] daniel86 opened #124 "Semantic annotations for videos"
At the moment we can only query for the list of videos.
It would be nice to be able to make semantic queries for the generated videos.
For example:
- "Show me the part of the video where the robot grasped a cup"

[2016-11-23 08:51] airballking opened #130 "script URDF2SRDL uses wrong tag to add meshes"
It outputs ```srdl2-comp:mesh_model``` but @daniel86 says that the rest of KnowRob expects ```knowrob:pathToCadModel```.

[2016-12-02 08:43] sasjonge opened #131 "Fix the Installation Tutorial on knowrob.org"
The installation tutorial at [http://knowrob.org/installation/catkin](url) doesn't work, if you try to install knowrob from scratch.

`/home/sascha/test_ws/src/stacks/knowrob/knowrob_vis/knowrob_vis/src/main/java/org/knowrob/vis/TaskTreeVisualization.java:124: error: cannot find symbol
			t.setTip("ID: " + tasks[i][1] + ", Goal: " + tasks[i][0] +
			 ^
  symbol:   method setTip(String)
  location:

[2016-12-05 12:55] HelenHarman commented on #117
Hi,
I also get a similar error when running: sub_component(baxter:'baxter_baxter1', Sub). (Following the instructions at http://www.knowrob.org/doc/srdl2_tutorial)

I am using:
- SWI-Prolog version 7.2.3 for amd64
- Ubuntu 16.04
- Installed KnowRob using: http://www.knowrob.org/installation/catkin
- ROS kinetic

Appears to be issue with ComponentComposition

![screenshot from 2016-12-05 13-44-10](

[2016-12-20 09:44] srinimd2005 commented on #77
Hi
I am facing the same problem from building Knowrob. Even I installed the rosjava through the .deb.
It is still giving me the same error

* What went wrong:
Could not resolve all dependencies for configuration ':semantic_map_to_owl:compile'.

  Required by:
      org.knowrob.semantic_map_to_owl:semantic_map_to_owl:1.0.0

* Try:
Run with --stacktrace option to get the stack trace. Run with --info

[2016-12-20 11:33] asilx commented on #77
Hi,

Did you install swi-prolog and swi-prolog-java?

[2016-12-20 12:42] srinimd2005 commented on #77
Yes I installed them.

[2017-02-27 08:58] munu8 commented on #131
I also meet the problem when I catkin_make the workspace.The branch of knowrob what I use is the master version. How can I solve the problem?Should I use the branch of indigo?Can you describe the soiution "Adding iai_common_msgs to the .rosintall-files seems to fix the problem (and the tutorial)." in detail.Thanks a lot!

[2017-02-27 09:51] sasjonge commented on #131
I'm using the master version. I solved the problem for me by adding

`- git:
    local-name: iai_common_msgs
    uri: https://github.com/code-iai/iai_common_msgs.git`

to the end of the .rosinstall (should be at <YourWorkspace>/src/.rosinstall. Then you need to call `wstool update` (Like in the tutorial). After this you should be able to build the workspace with `catkin_make`.

[2017-03-01 01:25] munu8 commented on #131
I tried the method,and found it worked.Thanks a lot!
        But I meet a new problem.I want to use the browser-based visualization canvas.I launch the rosbridge websocket server in another terminal using the following command:
        roslaunch rosbridge_server rosbridge_websocket.launch
        Then I input the website http://localhost:1111/ or the website http://localhost:1111/robohow.html to t

[2017-03-01 10:43] daniel86 commented on #131
Hi @munu8 the current state of the web vis in the `knowrob_vis` is unfortunately a bit messy.
Please note that there is a submodule repository that includes some JS files for the browser.

The reason that this is not maintained well is that we use a docker-based application for web visualization since some time (called openEASE), you can find some installation instructions here: http://knowrob.org

[2017-03-01 11:03] daniel86 commented on #131
About the `iai_common_msgs`: It is actually listed as compile time dependency in build files as far as I can see.
Anyway, I've just added it to all the rosinstall files

[2017-03-01 11:03] #131 closed

[2017-03-01 11:05] daniel86 commented on #118
`rosjava` is now avaiable for kinetic. I will try to get KnowRob running with kinetic this week

[2017-03-01 11:13] daniel86 commented on #117
@HelenHarman Unable to reproduce with indigo:

[code]

My guess is that it's about missing kinetic support (https://github.com/knowrob/knowrob/issues/118)
I will look into it this week

[2017-03-01 11:14] daniel86 commented on #108
Duplicate of https://github.com/knowrob/knowrob/issues/118

[2017-03-01 11:14] #108 closed

[2017-03-01 12:04] munu8 commented on #131
Thanks a lot!

[2017-03-04 18:18] missxa commented on #118
@daniel86 did it work for you with ROS kinetic?

When I try to run json_prolog_node I keep getting an unsatisfiedLinkError

[code]
Any suggestions how can I fix it?

[2017-03-06 09:51] daniel86 commented on #118
@missxa looks like the Prolog/JPL shared library was not found by Java, did you install `swi-prolog-java`? You could try to extend `LD_LIBRARY_PATH` with the directory containing libjpl.so.

I have still issues with build files, and will continue looking into this problem now...

[2017-03-06 11:13] daniel86 commented on #118
@missxa Got KnowRob working with kinetic, there is now a new [branch](https://github.com/knowrob/knowrob/tree/kinetic) with updated build files. I will try to keep it in synch with master (master will be still used for the indigo version until the IAI switches to kinetic)

[2017-03-06 13:53] daniel86 commented on #118
I'll leave this open until there is version in Ubuntu repositories

[2017-03-06 15:45] daniel86 commented on #117
@HelenHarman I was able to trace the error to `owl_individual_from_range` (which is called internally when you call `sub_component`). basically this code:

    owl_individual_from_range(Resource, Class) :-
	    nonvar(Resource), !,
	    rdf_has(_, P, Resource),
	    rdf_has(P, rdfs:range, Class), !.

When the error occurs the first `rdf_has` binds `P` to 'inverse_of(...)' and the second call then

[2017-03-06 16:06] missxa commented on #118
@daniel86 I do have `swi-prolog-java` and the `LD_LIBRARY_PATH` contains the directory with `libjpl.so`, but it still doesn't see the library.
I'm using `java-8-openjdk` could this be causing a problem?

[2017-03-06 20:13] daniel86 commented on #118
@missxa Might not be the case, but I have only tried the Prolog interpreter and not the json_prolog node today. I am blocked tomorrow but will test the node on Wednesday, also using Java 8. In the past, this error popped up and was related to local issues with jpl/swi-prolog installation. You can also check against the [Dockerfile](https://raw.githubusercontent.com/knowrob/docker/master/kinetic/ki

[2017-03-07 22:16] missxa commented on #118
It looks like I fixed the problem. you're using `jpl-3.1.4-alpha` in Knowrob and I had `jpl-7.0.1` locally. After minor adjustments in the source it works with `JPL-7` now.

[2017-03-08 11:04] #117 closed

[2017-03-08 11:09] HelenHarman commented on #117
Thank you for the fix.
Helen

[2017-03-08 11:10] daniel86 commented on #77
@srinimd2005 Please re-open if you still have issues

[2017-03-08 11:10] #77 closed

[2017-03-08 13:51] missxa commented on #118
@daniel86 It looks like I fixed the problem. you're using `jpl-3.1.4-alpha` in Knowrob and I had `jpl-7.0.1` locally. After minor adjustments in the source it works with `JPL-7` for me now.

[2017-03-08 14:29] daniel86 commented on #118
@missxa Glad that you found the problem, and good to know. What kinds of minor adjustments?
I was running in a segmentation fault caused by JPL bug recently and would like to try recent JPL version.

[2017-03-08 14:44] missxa commented on #118
@daniel86 I changed dependencies in gradle and there was a small conflict with Hashtable and HashMap. From what I can tell, they abandoned Hashtables in `JPL7`.

I pushed edited json_prolog source to my repo [here]( https://github.com/missxa/json_prolog ).

[2017-03-10 09:28] munu8 opened #136 "Could not resolve all dependencies for configuration"
Hello everyone!
When I install the knowrob_addons,I meet a difficult problem.
I input the commands in the terminal:
cd ~/catkin_ws
catkin_make
Then I find the errors in the terminal:
.........................................................................................................................................................
FAILURE: Build failed with an exception.

    What went wrong:

[2017-03-10 09:53] asilx commented on #136
Hi,

Please don't replicate the issues you have already opened.

Regarding to your problem. Which ROS distro do you use? Did you already install rosjava?

Greetings,
Asil

[2017-03-15 02:37] munu8 commented on #136
The version of ROS which I use is indigo,and I have already installed rosjava.
I find the information of errors in the terminal:
..................................................................................................................................
FAILURE: Build failed with an exception.
* What went wrong:
Could not resolve all dependencies for configuration ':runtime'.

 Required by:

[2017-03-15 03:03] munu8 commented on #77
@srinimd2005 ,Have you solved the problem?I meet the same problem,and don't know how to solve it?
Could you help me?Thanks alot!

[2017-03-15 07:25] munu8 commented on #136
@asilx ,Could you help me?Thanks a lot!

[2017-03-15 09:26] munu8 opened #137 "The problem with knowrob_cram when compile the knowrob_addons package"
Hello,every!
     I meet a difficult problem when I compile the **knowrob_addons** package.
     The version of ROS which I use is indigo,and I have already install rosjava both from source and debian.
     I find the **CMakeLists** of **knowrob_chemlab,knowrob_memory_graph,knowrob_mashes,
knowrob_openease** all consist of "**find_package(catkin REQUIRED knowrob_cram)**",
but when I compile the kn

[2017-03-15 10:33] daniel86 commented on #137
Hi,

You don't have to install CRAM to get `knowrob_addons` to compile. `knowrob_cram` is part of the [repo](https://github.com/knowrob/knowrob_addons/tree/master/knowrob_cram).

What you get are basically Java build errors because gradle is not able to find JAR file for `knowrob_cram` in local maven repository. In fact this JAR should be generated by the build command, and also before if these pa

[2017-03-15 10:41] daniel86 commented on #136
again a duplicate: Duplicate of: #137  :/ closing this one

[2017-03-15 10:41] #136 closed

[2017-03-28 17:12] daniel86 opened #138 "owl_parse does not reload modified ontologies"
`owl_parse` uses [`rdf_load`](http://www.swi-prolog.org/pldoc/doc_for?object=rdf_db%3Ardf_load/2) internally.
For local files, the `modified(-Modified)` should be specified.
For remote files it might be possible as well to GET the modification time of the OWL file using HTTP protocol.

Modification time should also be included in the `owl_file_loaded` predicate (or remove this predicate, since rdf

[2017-03-28 17:19] daniel86 commented on #137
Closing, since no response for about 2 weeks. Please re-open if you still have issues.

[2017-03-28 17:19] #137 closed

[2017-07-24 17:11] joselpart opened #145 "java.security.InvalidKeyException: EC parameters error"
Hi, today I installed Knowrob following the instructions in the website and at the end of the build, I was getting this error, which in turn was preventing knowrob_vis to work since some of the classes (particularly DiagramVisualization) were not compiled:

Exception in thread "main" javax.net.ssl.SSLException: java.security.ProviderException: java.security.InvalidKeyException: EC parameters error

[2017-07-25 01:09] asilx commented on #145
We already knew about this issue. Thanks for reporting

[2017-07-27 11:39] asilx opened #147 "rdf_unique_id generates same sequence of ids in each run"
I am running experiments which are logged using json_prolog. In every run, similar sequence of unique ids are generated. This is a problem when different episodic memories are loaded at the same time.

For instance:
Run1
<knowrob:CRAMAchieve rdf:about="&knowrob;CRAMAchieve_OrUIzvEY">
  <knowrob:subAction rdf:resource="&knowrob;BaseMovement_VeMDiXVm"/>
  <knowrob:subAction rdf:resource="&knowrob;Ba

[2017-07-27 11:57] daniel86 commented on #147
Hi Asil! Fixed already in kinetic branch!
(seems to only happen with kinetic / 16.04)

Here is the fix: https://github.com/knowrob/knowrob/commit/526dff4ba030aed9368e6193f09a679ca1929f0c

[2017-07-27 12:05] asilx commented on #147
@daniel86  oh that is magical :+1: thanks a lot

[2017-07-27 12:13] asilx commented on #147
same patch has been applied to master branch.

[2017-07-27 13:06] daniel86 commented on #147
oh ok so it was this one :) I wasn't sure anymore and had no time so I removed my comment. Glad that it's fixed :)
Are you sure the patch is also ok for Ubuntu 14.04? If not I would only apply to kinetic branch

[2017-07-28 03:02] asilx commented on #147
Yesterday I was happy about fastfix at the end of the day but you are right. doesnt work for 14.04 and indigo

[2017-07-29 04:51] asilx commented on #147
https://github.com/knowrob/knowrob/commit/db97547e14bfe0f5f630009e60cd5b9c3774d97c solves the issue

[2017-07-29 04:51] #147 closed

[2017-08-14 09:36] daniel86 opened #150 "JSON encoding bug in json_prolog"
Test client for json_prolog:

    import roslib; roslib.load_manifest('json_prolog')
    import rospy
    from json_prolog import json_prolog
    if __name__ == '__main__':
        rospy.init_node('test_json_prolog')
        prolog = json_prolog.Prolog()
        query = prolog.query("X='{\"Y\": 847230894.4536E4}'.")
        for solution in query.solutions():
            print 'Found solution. X =

[2017-08-14 13:33] ichumuh commented on #150
The loss in precision comes from a bug in json-lib:2.4. There exists a 6 year old bug report...
[https://sourceforge.net/p/json-lib/bugs/116/](https://sourceforge.net/p/json-lib/bugs/116/)
As mentioned in the comments the precision bug can be fixed by compiling against version 2.3.
I have tested it and it seems to be working.

However this does not change the fact that the result is a hashmap inst

[2017-08-15 09:21] daniel86 commented on #150
From JSONObject documentation:

- An extra , (comma) may appear just before the closing brace.
- Strings may be quoted with ' (single quote).
- Strings do not need to be quoted at all if they do not begin with a quote or single quote, and if they do not contain leading or trailing spaces, and if they do not contain any of these characters: { } [ ] / \ : , = ; # and if they do not look like numbers

[2017-08-15 09:51] daniel86 commented on #150
Fixed by #151

[2017-08-15 09:51] #150 closed

[2017-08-22 14:32] daniel86 commented on #77
@munu8 remove devel and build. remove ~/.gradle, source bashrc of ROS distribution.

[2017-08-25 12:21] daniel86 opened #152 "don't wrap empty list in single quotes in json serialization"

[2017-08-28 11:53] #152 closed

[2017-08-29 15:55] wliu88 opened #158 "Installing KnowRob on ROS indigo/kinetic"
I have been trying to install knowrob on Ubuntu 14.04 with ROS indigo. I followed the [catkin knowrob install tutorial](http://www.knowrob.org/installation/catkin). I made sure `ros-indigo-rosjava` is properly installed. I did the following:
[code]
I got several errors compiling the package. I removed the `~/.gradle` directory and also the `build` and `devel` in my workspace and recompiled everyth

[2017-09-06 08:05] daniel86 commented on #158
1. Make sure you have only one rosjava installation -- in the past it sometimes happened to people that they had issues when there were another installation around (e.g. from source)

2. Could also be the environment. Try not sourcing of any setup.bash in your bashrc, start a new console and source only the knowrob workspace.

[2017-09-06 08:07] daniel86 commented on #145
closing the ticket because we can't do anything about it

[2017-09-06 08:07] #145 closed

[2017-09-14 19:21] wliu88 commented on #158
Hi Daniel! Thanks for the response. I successfully installed KnowRob on Ubuntu 16.04 with ROS Kinectic. I found out the problem is related to the change in central Maven repository as mentioned [here](https://github.com/rosjava/rosjava_core/issues/250).

For future reference, I did the following:
1. Install Apache Maven 3.5.0 from source
2. Configured to use Java 8
3. Used `master` branch of `know

[2017-09-21 06:35] Affonso-Gui commented on #158
Was experiencing the same problem, but was able to install successfully in Ubuntu 14.04 Indigo by following wliu88's instructions.

Thanks for the help!

[2017-11-30 14:53] daniel86 commented on #107
i guess I fixed it recently

[2017-11-30 14:53] #107 closed

[2017-12-13 08:43] XB32Z opened #174 "Tutorial visualisation fails on Ubuntu 16 ROS Kinetics"
Hi all,

I am new to knowrob and I installed it on Ubuntu 16, ROS Kinetic. When I run the [tutorial](http://www.knowrob.org/doc/knowrob_basics), I get an error:

`ERROR: knowrob_objects:comp_pose_at_time/3: Undefined procedure: knowrob_mongo:mng_object_pose_at_time/4`

And a bunch of Java Exceptions. I have no experience with Prolog as well so I really cannot tell more. However I checked in the kn

[2017-12-13 12:34] asilx commented on #174
Thanks for reporting the issue!

In which query, exactly, are you getting this error?

You can maybe first try to query: "register_ros_package('knowrob_mongo')." Then try again the previous one

[2017-12-13 15:49] XB32Z commented on #174
Hi,
the query is this one `owl_individual_of(A, knowrob:'SemanticEnvironmentMap'), marker_update(object(A)).`. I noticed that the Java is issuing an error about MD5 mismatch that I think is related between different version of rosjava messages.

[2017-12-23 08:20] bbferka commented on #118
@daniel86 I just upgraded to xenial and kinetic and was experiencing the same issues as **missxa** on both my desktop and laptop; (tried both master and kinetic branches); I ended up using his edited json_prolog which workde. Any ideas?

[2017-12-23 09:33] asilx commented on #118
@bbferka you can use kinect fork. It solves the issue without tweaking

[2017-12-23 09:58] daniel86 commented on #118
@bbferka I guess it's about the version mess in gradle files.
Actually I am waiting on a patch from Jan-Hendrik about this, he was running into several issues before the EASE symposium. Wondering why he still has not submitted the patch.

[2018-01-04 11:35] bbferka commented on #118
@asilx I was not up to date on my kinetic branch before
@daniel86 yes I could still have problems with other parts. I hope @jworch will send a PR soon :)

[2018-01-08 10:37] daniel86 commented on #30
works again

[2018-01-08 10:37] #30 closed

[2018-01-08 10:40] #85 closed

[2018-01-08 10:40] #86 closed

[2018-01-09 17:10] daniel86 commented on #102
sub module removed again. Waiting on admin rights for knowrob github user to setup CI

[2018-01-09 17:12] daniel86 commented on #114
it's intended behaviour

[2018-01-09 17:12] #114 closed

[2018-01-09 17:13] daniel86 commented on #124
that's not directly knowrob related. should be a ticket for openEASE tracker

[2018-01-09 17:13] #124 closed

[2018-01-10 13:11] sasjonge opened #177 "knowrob_objects/DirtyObject.h: No such file or director"
Hello,

if I try to build master I get the following error:

`.../knowrob/knowrob_objects/src/knowrob_objects.cpp:6:41: fatal error: knowrob_objects/DirtyObject.h: No such file or directory
compilation terminated.
knowrob/knowrob_objects/CMakeFiles/knowrob_objects.dir/build.make:62: recipe for target 'knowrob/knowrob_objects/CMakeFiles/knowrob_objects.dir/src/knowrob_objects.cpp.o' failed
`

I can

[2018-01-10 15:01] daniel86 commented on #177
should be fixed in master branch with https://github.com/knowrob/knowrob/commit/d026512f94547fa852d9127f69feabfd24168720

[2018-01-10 15:01] #177 closed

[2018-01-10 18:58] daniel86 opened #181 "Nested query deadlock in json_prolog"
JPL documentation states that all Query calls need to be mutex locked.
This implies deadlock if another json_prolog query is triggered from
within the first query. The first query will block and wait for the second
query to be processed but this will never happen because json_prolog
can't lock the second time.

We could either catch such situation and throw an error and terminate both queries,
fin

[2018-01-11 09:15] #102 closed

[2018-01-17 15:23] bbferka opened #183 "missing(wrong) rule in comp_similarity.pl"
I was looking for some way of returning similar entries from the ontology (e.g. other classes of some super type that an object might have) and came across the following rule in knowrob_common/prolog/comp_similarity.pl:
``rdf_most_similar(Class, Super, N, NMostSim) ``

Unfortunatelly this uses a rule: ``rdf_wup_distance`` that has no implementation;
It works by replacing ``rdf_wup_distance`` with

[2018-01-18 09:24] daniel86 commented on #183
thanks for the report, will fix it now

[2018-01-18 09:46] #183 closed

[2018-01-18 10:31] daniel86 commented on #158
build files fixed in kinetic branch, I hope this solves most issues.
Please reopen if you still have issues.

[2018-01-18 10:31] #158 closed

[2018-01-18 10:31] daniel86 commented on #118
build files fixed in kinetic branch, I hope this solves most issues.
Please reopen if you still have issues.

[2018-01-18 10:31] #118 closed

[2018-02-15 13:51] daniel86 commented on #174
@asilx when you initially answer questions here I expect that you take care of them, also close them when they are answered.

@XB32Z MD5 is due to older Java versions are not supported by gradle anymore. Please update Java to newer version, then the MD5 error should go away.
I have recently fixed the local visualization server, thus closing now, please re-open if you still have issues.

[2018-02-15 13:51] #174 closed

[2018-03-07 13:34] airballking opened #194 "Missing OWL inference feature?"
@daniel86 as just discussed in person, there might be a missing OWL inference feature in KnowRob. The following two protege screenshots show the example that we just looked at on my PC:

Class hierarchy (with reasoner activated):
![protege_classes](https://user-images.githubusercontent.com/1560050/37094719-0f5a7e02-2214-11e8-803b-e552c4ba1cda.png)

Asserted Individual (with reasoner activated):
![

[2018-03-21 10:36] ichumuh opened #196 "quote bug in json_prolog"
Query:
rosservice call /json_prolog/simple_query "mode: 0
id: ''
query: 'X=\"a\"'"

Result:
rosservice call /json_prolog/next_solution "id: ''"
status: 3
solution: "{\"X\":\"'a'\"}"

But:
rosservice call /json_prolog/simple_query "mode: 0
id: ''
query: 'X=[\"a\"]'"

Result:
rosservice call /json_prolog/next_solution "id: ''"
status: 3
solution: "{\"X\":[\"a\"]}"

This is inconsistent, the second r

[2018-03-21 10:51] daniel86 commented on #196
I can't really follow what you are doing here, the formatting you provide is terrible.

In Prolog, atoms like 'a' don't need to be wrapped in single quotes.
Does this answer your question?

[2018-10-09 11:23] JonyUnbroken opened #202 "some error when I catkin_make."
[100%] Built target gradle-knowrob_common
[100%] Gradling tasks for knowrob_srdl
[100%] Gradling tasks for knowrob_mongo
[100%] Gradling tasks for json_prolog

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all dependencies for configuration ':knowrob_mongo:compile'.

  Required by:
      org.knowrob.knowrob_mongo:knowrob_mongo:0.1.0

  Required by:
      org.knowro

[2018-10-11 09:05] daniel86 commented on #202
Hi @JonyUnbroken

It seems to be some issue with your ROS workspace or ROS installation.
The packages that can not be found by gradle are in fact part of KnowRob.
Can't tell what is going wrong from what you pasted, sorry.

I am closing the issue, because it is nothing I could fix in KnowRob.

What is your the ROS version, and what branch are you using?
If you run ROS kinetic make sure to use the

[2018-10-11 09:05] #202 closed

[2019-01-04 13:57] bbferka opened #209 "failed to build workspace"
Hi,

What| Version
-|-
OS | 16.04
branch| kinetic
Java verison | 8

Clean workspace, clean checkout of the repo, up to date Ubuntu (latest updates installed),  I am getting this error

[code]

Any ideas? It seems to be some gradle issue; the one with rosjava is too old or something; Did anyone else have this error?

[2019-01-04 14:06] daniel86 commented on #209
could be that they have changed the build file upstream.
at least the google() statement looks new to me, and I don't what it is supposed to do.

[2019-01-04 14:51] bbferka commented on #209
Thx @daniel86  for the quick reply ....it is new...they changed things 9 dayst ago and released only part of it ...rosjava is a piece of !@#...pls let me know if you ever want to rewrite everything in C++, I volunteer for helping; Anyway...I had to recompile rosjava from source (!@$$).  I changed all the gradlew files and content of the gradle folders in the ros packages (is there no automatic way

[2019-01-04 15:07] bbferka commented on #209
https://github.com/rosjava/rosjava_build_tools/pull/35

[2019-01-16 10:12] bbferka commented on #209
@yangshuo11 have you tried with my PR? (#210)

[2019-01-16 13:46] yangshuo11 commented on #209
Many thanks for your quick @bbferka . I have already fixed this issue in another way. For example, in the knowrob_common package, edit the CMakeLists.txt and delete the 'installApp' in the line 'catkin_rosjava_setup'. In other packages, do it the same way. After removing 'installApp', build the knowrob_ws with catkin_make. It works fine.

[2019-01-16 13:47] yangshuo11 commented on #209
Many thanks for your quick reply @bbferka . I have already fixed this issue in another way. For example, in the knowrob_common package, edit the CMakeLists.txt and delete the 'installApp' in the line 'catkin_rosjava_setup'. In other packages, do it the same way. After removing 'installApp', build the knowrob_ws with catkin_make. It works fine.

[2019-02-21 09:47] #209 closed

[2019-02-25 20:21] keerthanamanivannan opened #211 "Installation problems"
### Description

Having issues while installing KnowRob with the `instructions` from [here](http://knowrob.org/installation/catkin)

### My environment
* ROS Distro: Kinetic
* OS Version: Ubuntu 16.04

### Expected behaviour
Workspace containing KnowRob should be built without any issues.

### Actual behaviour
Workspace containing KnowRob is failing to build on these packages: `knowrob_common` and

[2019-02-26 09:10] asilx commented on #211
it seems that you have configured the default java version of your ubuntu as 9-internal. Could you reconfigure it as java8 and try again?

[2019-03-01 00:45] keerthanamanivannan commented on #211
Alright. So I changed the default java version of my system by using `sudo update-alternatives --config java` and picked java8. It seems to move past the java error.

However, when I run rosdep install from the root of the ws, it says it cannot resolve rosdeps for `iai_cad_downloader` and `mjpeg_server` (this one seems to have reached EOL according [this link](http://wiki.ros.org/mjpeg_server)). S

[2019-03-01 00:50] keerthanamanivannan commented on #211
Closed the issue by mistake. My bad.

[2019-03-05 10:04] asilx commented on #211
If you are on 16.04 and ROS kinetic. Could you try to switch the kinetic branch?

[2019-03-05 17:17] keerthanamanivannan commented on #211
I did that just now, and I still get the same error:
[code]

[2019-03-05 17:24] daniel86 commented on #211
It might be not a good idea to use *knowrob_addons* at the moment.
Do you need it?

I will remove all these legacy packages soonish until then please add CATIN_IGNORE to any package in knowrob_addons that fails building.

[2019-03-05 17:27] keerthanamanivannan commented on #211
ah! I see. ok. I'll try that now. Thank you for responding quick!

[2019-03-05 17:29] daniel86 commented on #211
Another note: it might be a good idea to use *kinetic* branch of knowrob and knowrob_addons.
rosjava randomly changes its build system, and I need to provide different build files for different ROS versions, unfortunately.
But we will try to get rid of rosjava in the long term.

[2019-03-05 17:31] keerthanamanivannan commented on #211
I see. yeah, I am using `kinetic` branch on both `knowrob` and `knowrob_addons`.  :+1:

so the package which is failing right now is `json_prolog`, which is in `knowrob` and not `knowrob_addons`.
let me know what I can do.

[2019-03-05 17:49] daniel86 commented on #211
yes, you should not CATKIN_IGNORE this.
The message you posted is not very informative. So what is the file that could not be resolved?
Can you provide more complete log? Could also help to *rm -r* the build directory.

[2019-03-05 19:04] keerthanamanivannan commented on #211
Ok, I apologize.
This is the error I'm getting when I `catkin build` my knowrob_ws.

[2019-03-05 19:14] daniel86 commented on #211
I think these are only *warnings* that do not cause the build to fail.

So you were able to fix the issue? What was the problem? It would be nice if could share in case someone
 runs into the same issue.

[2019-03-05 19:15] keerthanamanivannan commented on #211
I'm sorry, I closed the issue by mistake. I would appreciate it if you can help me fix this.
I get this error for `knowrob_cad_parser` repo before I get errors for `json_prolog`.

[code]

[2019-03-05 19:19] keerthanamanivannan commented on #211
`catkin build --verbose` gives me this:
[code]

[2019-03-05 19:21] daniel86 commented on #211
Just put a empty file named *CATKIN_IGNORE* into the directory "src/knowrob_addons/knowrob_cad_parser", or remove knowrob_addons entirely from your workspace.

[2019-03-05 19:56] keerthanamanivannan commented on #211
oh I tried that a while ago, i `touch CATKIN_IGNORE`d in `knowrob_cad_parser` repo, but i found `json_prolog` to fail.

I removed `knowrob_addons` completely from the ws, but some of the repos from `knowrob_dev` need repos from `knowrob_addons`. so they fail too.

[2019-03-05 19:59] daniel86 commented on #211
please also remove knowrob_dev

[2019-03-05 20:04] keerthanamanivannan commented on #211
yes. I did just that. but I'm getting stuck on an error which says it can't build `json_prolog` repo.
[code]

[2019-03-06 10:18] daniel86 commented on #211
The message is again not very helpful. What are the files that cannot be resolved? I assume there is more output that contains a hint to what is going wrong. Please paste the whole output at e.g. some pastebin service

[2019-03-06 16:44] keerthanamanivannan commented on #211
Ok, I copied all of the reds that the catkin build was throwing, and some more build output before that.
[pastebin link](https://pastebin.com/CAxz9VZJ)

[2019-03-06 17:29] daniel86 commented on #211
**Could not find any matches for org.knowrob.tfjava:tfjava:[0.1,) as no versions of org.knowrob.tfjava:tfjava are available.** <- this is the important message

[2019-03-06 17:31] daniel86 commented on #211
https://github.com/knowrob/knowrob/issues/77

[2019-03-06 17:31] #211 closed

[2019-03-06 18:30] keerthanamanivannan commented on #77
Hi @daniel86, I tried doing these:
`catkin clean`,
then `rm -rf ~/.gradle/` and
then `source ~/.bashrc` (which sources `/opt/ros/kinetic/setup.bash`),

but I still get this guy:
```Could not find any matches for org.knowrob.knowrob_common:knowrob_common:[0.1,) as no versions of org.knowrob.knowrob_common:knowrob_common are available.```

[2019-03-08 16:36] keerthanamanivannan commented on #77
@daniel86 ping.

[2019-03-10 21:10] asilx commented on #77
@keerthanamanivannan  did you install rosjava from source by any chance? I experienced similar errors in the setups where rosjava is built from source and there were issues with overlaying catkin workspaces

[2019-03-13 20:20] keerthanamanivannan commented on #77
@asilx No, AFAIK. I did not install rosjava from source.

[2019-05-15 09:16] ablazexu opened #213 "install knowrob in kinetic problems"
Hello,
I've tried to install the knowrob kinetic branch under Ubuntu 16.04.
However, when I run the catkin-make, I got this build error:

[  4%] Built target roscpp_generate_messages_py
/usr/bin/ld: cannot find -lswipl
collect2: error: ld returned 1 exit status
knowrob/rosprolog/CMakeFiles/rosprolog.dir/build.make:123: recipe for target '/home/robot/catkin_knowrob/devel/lib/librosprolog.so' failed

[2019-05-16 07:20] daniel86 commented on #213
You need to *apt-get install swi-prolog*

[2019-05-16 07:20] #213 closed

[2019-05-28 09:09] #123 closed

[2019-05-28 09:10] #4 closed

[2019-05-28 09:10] #3 closed

[2019-06-18 07:43] daniel86 commented on #181
won't happen anymore with C++ json_prolog implementation

[2019-06-18 07:43] #181 closed

[2019-06-18 07:43] daniel86 commented on #196
should be fixed now

[2019-06-18 07:43] #196 closed

[2019-06-18 07:44] #17 closed

[2019-06-19 10:39] #121 closed

[2019-07-15 08:40] daniel86 commented on #130
the script has been removed

[2019-07-15 08:40] #130 closed

[2019-09-18 10:13] mecisery opened #222 "Undefined procedure: marker_vis:object_pose_at_time/3"
Hi all,
I am new to knowrob and I installed it on Ubuntu 16, ROS Kinetic.
When I run the following prolog command,
owl_individual_of(A, knowrob:'SemanticEnvironmentMap'),
marker_update(object(A)).

I get an error:
ERROR: marker_vis:marker_lookup_transform/4: Undefined procedure: marker_vis:object_pose_at_time/3

Thx for your help,
Best

[2019-10-09 10:12] daniel86 commented on #222
Thanks for the report, seems there is a bug in the current version.
I will fix it within the next days. Sorry for the inconvenience!

[2019-11-09 16:44] daniel86 commented on #222
fixed in https://github.com/knowrob/knowrob/pull/224/commits/f570e2715d0627c079750fcaf7ad1da8f5a5de8d

The Prolog-based marker representation is no more, it was redundant with the object_state_publisher which is now used exclusively.

[2019-11-09 16:44] #222 closed

[2019-11-19 10:04] mecisery commented on #222
Alright. Thanks a lot for your response @daniel86
But,what is the "object_state_publisher"? a topic? How I run it?

[2019-12-14 12:47] daniel86 commented on #222
@mecisery The object_state_publisher publishes on /tf and /marker_visualization_array topics based on messages KnowRob sends out on the /object_state topic.

here is a launch file: https://github.com/knowrob/knowrob/blob/master/knowrob_objects/launch/object_state_publisher.launch

[2020-01-31 12:08] daniel86 commented on #11
KnowRob does not include a semantic map editor anymore.

[2020-01-31 12:08] #11 closed

[2020-01-31 12:10] daniel86 commented on #69
no java builds are supported anymore. Users with java code need to rely on rosjava for setting up their classpath

[2020-01-31 12:10] #69 closed

[2020-02-06 13:32] SDBonhof opened #229 "Outdated tutorials"
I have installed KnowRob following the tutorial [here](http://knowrob.org/installation/catkin) (I had to delete the ros-mongodb_log due to missing dependencies, but I don't think I need that anyway).

Launching rosprolog using

    $ rosrun rosprolog rosprolog knowrob_common

launches rosprolog and shows me the prolog command line. Then, according to [the basic tutorial](http://knowrob.org/doc/kno

[2020-02-06 14:45] daniel86 commented on #229
Hello @SDBonhof

There were recently breaking changes regarding the ontologies.
Namely that KnowRob now uses a well designed foundational ontology *DUL*.
Unfortunately, I haven't had the time to update the tutorials on knowrob.org yet.
Please have a look at the README files instead, they should be up-to-date and provide
some information about what is going on in the respective package.

I will soo

[2020-02-06 14:47] daniel86 commented on #229
btw. you can use the *onlyPythonSupport* branch of ros-mongodb_log. There is currently an issue with the CXX driver of mongo being removed from package repositories.

[2020-02-06 15:52] SDBonhof commented on #229
Thank you for your quick reply.

I understand that these things take time. Maybe you can already add a warning at the beginning of the tutorials stating that some things might not work, until you have had time to update the tutorials.

Is it possible that the parsing of ontologies from http:// files is broken due to the changes you mentioned? It feels to me like the function which parses ontologie

[2020-02-06 16:40] daniel86 commented on #229
http is supposed to work, I don't think that I have touched the predicate *owl_parse* recently.
I will test it and report back here.

about the tutorials: yes I agree, and will do now. ultimately versioned tutorials are needed in the long term. There is some hope that KnowRob will have a release schedule soon, Then I would also plan to update the tutorials where required for each released version.

[2020-02-06 16:53] daniel86 commented on #229
I've added a note in the doc page here: http://www.knowrob.org/doc

[2020-02-06 17:11] daniel86 commented on #229
I do not have issues loading ontologies from http.
Is the http address publicly accessible? if so, please provide it, then I can try to load it.

Otherwise, is there any console output? *owl_parse* yields true or false?

[2020-02-07 08:32] SDBonhof commented on #229
Thank you for adding the note to the doc! And also thank you for your response.

I am trying to load http://knowrob.org/kb/knowrob.owl, which is the ontology which includes the 'FoodOrDrink' example from the tutorial. This ontology is still publicly accessible and I can find the 'FoodOrDrink' class, so it should be found if it is loaded and queried.

I am launching rosprolog using
`rosrun rosprolo

[2020-02-07 11:17] daniel86 commented on #229
KnowRob has an internal mapping from http prefixes to local paths, such that local ontologies are preferred over remote ones. So that you can have local changes, and try them out without it to http.
So in fact, you will not get the one from http in that case, but knowrob.owl from the knowrob_common package. And this does not have a class *knowrob:FoodOrDrink*.
I guess this is where the confusion i

[2020-02-07 11:39] SDBonhof commented on #229
So the init.pl file of knowrob_common loads the knowrob.owl file from that package. And this ontology doesn't have the _FoodOrDrink_ class. That makes sense to me.

However, I still do not understand why I can't load the http manually using the commands I mentioned.

For my use case I might not need to be able to load the http ontologies, but others might, and I am also just trying to understand h

[2020-02-07 16:36] daniel86 commented on #229
Ok here is the reason: KnowRob uses since always *package* URIs in OWL import statements.
Which is not how it is supposed to be with OWL files. Standard Protege won't know what to do with these import statements (thaht's why there is a fork of it in my github that allows to load these URIs)

I went a few steps towards fixing this by basically intercepting calls to owl_parse and looking up a regist

[2020-02-10 11:27] SDBonhof commented on #229
So the call to parse from http is intercepted by owl_parse and instead looks at local files first? That makes sense with what you are saying.

Thank you!

[2020-02-29 14:05] daniel86 opened #230 "auto-generate code from OWL ontologies"
It would be helpful to auto-generate pl code that implements an interface to the ontology, i.e., to assert instances, their properties, and to retrieve them from the triple store.

Also consider more general code generation for other target languages as well! similar to how ROS generates code for abstract message definitions.

[2020-02-29 14:06] daniel86 commented on #230
The code for other languages could use a rosprolog client internally to interact with KnowRob's RDF DB.

[2020-03-04 09:03] bbferka opened #231 "issues compiling latest master"
There are a couple of issues when compiling knowrob (master branch) in a clean workspace at the moment (tested on Ubuntu 18.04).
- the rosinstall file should be updated to have the correct branch of ``ros_mongodb_log``. If we use master it looks for libmongocxx_ros, which is not released for ROS melodic; as @daniel86 pointed out we need the ``onlyPythonSupport`` branch; this could be added to the

[2020-05-29 15:31] AndrewJSchoen opened #234 "Intentions for ROS2 Support?"
Hi all, me and a group of others are were looking to use something like this package in our work, but are also in the process of transitioning away from ROS1 to ROS2, both because of the improved cross-platform functionality, and the declining support for python2. To this end, are you planning to support ROS2? I haven't seen anything in the documentation or associated webpages for KnowRob mentioni

[2020-05-29 16:33] daniel86 commented on #234
Hi @AndrewJSchoen, thanks for your message.
And glad that you consider using KnowRob for your work!

My research group has not yet switched to ROS2.
And me and other KnowRob developers have not yet looked into supporting ROS2. But I definitely would be interested in getting KnowRob running with ROS2. I am sure that it will happen, but I can not promise yet when this will be the case.

[2020-05-29 16:35] #231 closed

[2020-05-31 19:03] jkabalar opened #235 "rosjava dependency not located"
Hi,

I am currently trying to install knowrob, in particular to use knowrob_roslog_launch, and I use the instructions provided in http://knowrob.org/installation/catkin.

While resolving rosdependencies, I receive this issue

`Cannot locate rosdep definition for [rosjava_messages]`

Possible explanations online did not help me in debugging this, any help is welcome, thank you. Very sorry in case t

[2020-06-05 12:21] #235 closed

[2020-06-11 11:23] hawkina opened #236 "Installation fails"
Hey.
I've followed your installation tutorial. At the step "rosdep install --ignore-src --from-paths ." it fails with the following  error-message:

ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
mongodb_log: No definition of [python-rrdtool] for OS version [xenial]

Setup: Ubuntu 16.04, python 2.7, ROS Kinetic
I haven't found any hints on th

[2020-06-11 17:12] daniel86 commented on #236
Hello!

The current master branch only supports *melodic*. There is a branch with the last snapshot of KnowRob that should run with kinetic. But I would suggest to move to melodic ;)

You could also try my fork: https://github.com/daniel86/knowrob/
As I have recently removed the dependency to mongodb_log.
It might take some more weeks until we merge into upstream.

Cheers!

[2020-06-15 10:32] hawkina commented on #236
HI
I'm still running Ubuntu 16.04 so I cannot change to melodic just yet.
I'll try your fork and will let you know how it goes.
The tutorial says that there are rosinstall files for different versions but there is only one which points to the master branch. It would be cool if there were multiple for the different versions or that there would be a mention about what the master branch currently is

[2020-06-15 10:59] hawkina commented on #236
I've just tried it out. Removing the dependency and using your fork made it pull the dependencies properly.
Running catkin_make, I needed to install libbison-dev manually. It was complaining that libbison-1.0 is missing, although installing that didn't fix it, installing the dev version somehow did.
It build until 100% and then dies with errors in MongoCursor.cpp:

/home/hasu/ros_workspace/knowrob

[2020-06-22 07:40] daniel86 commented on #236
I assume that the libmongoc version shipped with 16.04 does not fly with KnowRob, try updating it.

[2020-06-28 06:11] DangMinh24 opened #237 "How Knowrob's Action concept is defined in RDF format?"
Hi all,

Could anyone please help me understand how Action is defined in Knowrob? According to what I understand so far, Knowrob defines concept of Action in RDF format, but I can not find any documentation about RDF's action.

[2020-06-28 16:13] daniel86 commented on #237
Hello,

KnowRob uses DUL upper level ontology notion of Action.
Here is the OWL file: http://www.ontologydesignpatterns.org/ont/dul/DUL.owl

The comment in there is that an Actions is _an Event with at least one Agent that isParticipantIn it, and that executes a Task that typically isDefinedIn a Plan, Workflow, Project, etc._

[2020-06-28 17:49] DangMinh24 commented on #237
Thanks for your kindly help @daniel86. Does that mean the procedure of defining _Action_ and _Event_ are the same in KnowRob?

As far as I understand, _Event_ in KnowRob is defined as:

instance is something one would say ’happens’. [...] Events should not be confused with TimeIntervals[...]

-- a class that contains at least _startTime_ and _endTime_ properties. Was the _Action_  defined in the s

[2020-06-29 11:42] daniel86 commented on #237
That definition does not seem to be accurate as `State` is also seen as an event. There is a long comment about what an Event is defined as in DUL.owl. Please have a look there.

Basically an occurrence with participation, no interpretation is done in the event branch.

[2020-06-29 18:29] DangMinh24 commented on #237
Thank you so much @daniel86! Very informative!

[2020-06-29 18:29] #237 closed

[2020-07-17 20:36] #31 closed

[2020-07-17 20:36] daniel86 commented on #138
owl_parse is no more

[2020-07-17 20:36] #138 closed

[2020-07-17 20:37] daniel86 commented on #236
mongodb_log has been removed as dependency

[2020-07-17 20:37] #236 closed

[2020-09-10 18:34] ipa-hsd opened #248 "Current master branch is not ready to be used?"
My system setup is `Ubuntu 18.04` and `ROS Melodic`

I followed the installation instructions as per `README`, which [clones the `master` branch](https://github.com/knowrob/knowrob/blob/master/rosinstall/knowrob-base.rosinstall) of the repo. But it seems that many packages are missing as compared to previous branches. Once I run the command:
[code]
Also I tried another option:
[code]
[code]
On tak

[2020-09-10 19:45] ipa-hsd commented on #248
The following is working for me:
[code]
But not sure if it was intended to be done this way.

[2020-09-11 11:34] kaviyachandran commented on #248
There was restructuring but it is complete now. "owl_subclass_of" is replaced by is_a or instance_of. Please check Readme in each folder and unit tests to get a better understanding of the usage of is_a, instance_of. There will be a new tutorial published soon.

[2020-09-11 11:36] ipa-hsd commented on #248
Thanks @kaviyachandran! That was helpful. I will close the issue for now.

[2020-10-01 11:49] seba90 opened #256 "urdf_load fails"
While executing

` urdf_load('http://knowrob.org/kb/PR2.owl#PR2_0', '/home/koralewski/catkin_ws/ros_cram/src/knowrob/urdf/pr2_for_unit_tests.urdf', [load_rdf])" `

I get the following error:

Before calling urdf_load I am able to run
`tripledb_load('/home/koralewski/catkin_ws/ros_cram/src/knowrob/owl/robots/PR2.owl')`
successfully.

The path to the urdf is valid and the file exists. Any ideas ? I

[2020-10-01 12:32] daniel86 commented on #256
thx for the report, I'll have a look. seems something buggy with creating the InformationObject instances

[2020-10-07 13:16] sasjonge commented on #256
This bug should be fixed by this PR:

https://github.com/knowrob/knowrob/pull/257

[2020-10-07 13:53] #256 closed

[2020-10-13 07:07] seba90 commented on #256
Sorry for the delay answer. However, I am using your PR and now I am getting the following error:

[2020-10-13 07:44] AbhijitVyas commented on #256
Hello

This is because Sascha's PR

Moved tripledb_load #258

might still not be accepted in Knoworb repo.

Best,
Abhijit

On Tue, 13 Oct 2020, 09:08 Sebastian Koralewski, <notifications@github.com>
wrote:

[2020-10-14 10:46] sasjonge commented on #256
The PR is accepted and it should work now

[2020-10-15 06:45] seba90 commented on #256
Its working. Thank you.

[2020-12-07 09:54] Thordreck commented on #229
Hi,
Are there any updates on this? I started trying knowrob out recently and it's being rather hard given that there are no clear working examples of what can and cannot be done with it. Even some of the readme's in the repo seem to be out of date. For example, in [the reasoning section](https://github.com/knowrob/knowrob/blob/master/src/reasoning/README.md) it mentions the `workflow_constituents/

[2020-12-17 10:28] piotrpowerpalka opened #269 "Errors while running rosprolog"
I have installed knowrob on Ubuntu 18.04 according to specifications given on https://github.com/knowrob/knowrob

When I try to run rosprolog with knowrob database I've got the following errors:

rosrun rosprolog rosprolog knowrob

[ INFO] [1608200506.432788606]: The knowledge base is starting up, that may take a few moments!
ERROR: /home/ubuntu/catkin_ws/src/knowrob/src/db/mongo/tripledb/triples.

[2020-12-17 12:59] daniel86 commented on #269
Hello @piotrpowerpalka
most of the errors are caused by mongo DB server not running on your system.
We have recently switched to storing triple data in mongo and thus it is required
to have one running.
The other error about the table does not cause serious harm. I haven't looked into this yet but my guess is that it is caused by an old SWI Prolog version as an my Arch Linux system it does not hap

[2020-12-18 07:22] piotrpowerpalka commented on #269
Thank you a lot, it worked!
I suggest adding the note about that to the installation tutorial. I've installed the tool on the fresh Ubuntu 18.04, and below are instructions:

`  sudo  apt-get install libmongoc-dev
  sudo  apt-get install libbson-dev
  sudo  apt-get install libbson-1.0-0
  sudo apt-get install swi-prolog

  wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | sudo apt-key

[2020-12-20 21:44] daniel86 commented on #269
@piotrpowerpalka thanks for sharing your set-up, I'll update the installation documentation after the holidays.

[2021-01-13 15:39] chcorbato opened #274 "Python package 'future' required to run rosprolog_commandline.py in ROS melodic (python 2.7)"
### Description
When trying to use `rosprolog_commandline.py`, I get the following error:
[code]

### Your environment
- ROS distro: melodic
- OS version: Ubuntu 18.04
- Python 2.7

### Steps to reproduce
1. Install knowrob according to README
2. start knowrob with `roslaunch knowrob knowrob.launch`
3. In a new terminal, run `rosrun rosprolog rosprolog_commandline.py`

### Suggested approach
Inclu

[2021-01-15 08:52] daniel86 commented on #274
Hello Carlos,

thanks for the report!
I added "python-future" to package.xml#run_depend of rosprolog.
That should fix the problem, I think.

Best,
Daniel

[2021-01-15 09:35] Thordreck opened #275 "[mongolog] occurs/1 predicate does not work as expected"
Hi,
First of all thanks for you work on this repo. I'm using extensively in my own project and I find it really useful.
I started working with events recently, and I have noticed that the `occurs` predicate is not working as I expected.
I'm listing below a few examples of weird behavior I have come across. Note that each example is self-contained and it starts with a clean knowledge base.

### Tim

[2021-01-22 14:08] Thordreck opened #276 "Current state of computables"
Hi,
I would appreciate if I could get a quick rundown on how `computables` are supposed to be added the knowledge base.
According to the [docs](http://www.knowrob.org/doc/defining_computables), computables are to be stored directly in the ontology as a `PrologProperty` that points to the predicate to execute. I haven't found any example in the repo that uses this so far. Given that the docs seem t

[2021-01-27 11:10] daniel86 commented on #276
Hi @Thordreck!

sorry for the delay. I am currently focusing on doing another iteration over the query language of KnowRob.
Computables are still supported without restrictions in the current master.
I added some syntactic sugar to mark binary predicates as computables in `module/2` expressions.
You can see an example here: https://github.com/knowrob/knowrob/blob/master/src/reasoning/temporal/inte

[2021-01-27 11:17] daniel86 commented on #275
Thanks for the report @Thordreck.
seems occurs is having quite some issues. I will add more unit tests covering the cases you listed

[2021-01-27 11:48] daniel86 commented on #229
@Thordreck thanks for your hint about being too technical in the READMEs. They should reflect the current state, however. Unfortunately, after writing the READMEs I haven't found the time to do an iteration over them.
Especially, I plan to write more documentation in the near future about how the tell/ask rules work as I am approaching a cool state for it in my local development branch: https://gi

[2021-01-28 17:47] Thordreck commented on #229
Hi Daniel,
Thanks a lot for the clarification, I understand these things take time. Looking forward to the new tutorials!

[2021-01-28 22:48] daniel86 commented on #276
I'll have a look at what's wrong with this hook. It seems no test case covers this yet, so something might broke without me noticing. I'll have a look at it in the next days.

What I am working on right now is basically to run Prolog programs in mongo aggregation queries. There were requirements imposed by projects to use proper DB backends in KnowRob, so I decided to move to mongo DB last year as

[2021-02-03 08:01] fmrico commented on #234
Hi @AndrewJSchoen , Did you try to start a version for ROS2? I am considering using it in a grade course of cognitive robotics, and I will use ROS2. In case I use it, it would be cool to have a ROS2 branch. What do you think, @daniel86 ?

[2021-02-03 11:09] fmrico commented on #269
Hi @daniel86

I have a related error, but in my case,  mongo is running:

![knowrob](https://user-images.githubusercontent.com/3810011/106738731-9af61980-6618-11eb-9858-61781868004f.png)

Any idea of this error?

Thanks!

[2021-02-03 12:44] daniel86 commented on #269
Hello @fmrico

the error about the tabling I am aware of, and it will disappear as soon as I merge in my current working branch into master.
it should however not create problems with the execution.
The reason `owl_subclass_of/3` does not find any subclasses is most likely that there are no such subclasses anymore in the ontologies that are auto-loaded by KnowRob.
I assume you took it from an exam

[2021-02-03 12:52] daniel86 commented on #234
@fmrico there has been a recent development regarding ROS2. But only concerning *rosprolog*. It is likely that someone will soon work on adding ROS2 support to it. but the funding for this has not been confirmed yet.
However, some parts of the C++ code in KnowRob in particular might also need to be modified to run with ROS2.
Do you know what it means in particular in ROS2? I assume it is not that

[2021-02-03 14:27] Thordreck commented on #276
Hi Daniel,

Thanks!

I understand that what you described could improve the performance of queries that work on information that's constantly being published (I'm guessing a use case would be the TF's data). This, however, would be detrimental for queries that are not run at such a high-rate IMO.  It also feels like MongoDB will be less and less hidden from external users, isn't it? From your desc

[2021-02-03 14:37] Thordreck commented on #276
Just another idea. What about introducing some other kind of concept separated from computables for the case of "fetching information from external services"? Maybe I was just trying to use the wrong tool. I'm not sure if this would help, though.

[2021-02-03 16:28] daniel86 commented on #276
Well the $function command in mongo seems like a way to include procedures without restriction. And maybe there are ways to create a more user friendly wrapper around this.
You can also easily "compile-in" additional information into queries executed by mongo, but that information cannot depend on conditions evaluated within the query by mongo, however you could evaluate the conditions separately

[2021-02-03 18:13] fmrico commented on #269
Thanks, @daniel86

Then I should wait until this merge. As I wrote in #234 , I intend to port it to ROS2 because I would like to see how to integrate it with https://github.com/IntelligentRoboticsLabs/ros2_planning_system . I work with @chcorbato on some projects, and he recommended me this repo for reasoning.

Best

[2021-02-03 18:18] fmrico commented on #234
Hi @daniel86

I have ported some packages to ROS2, and it can be very direct to translate pub/subs, services, and params from ROS to ROS2. The not so easy part is to make the most of the new features and resources that ROS2 provides: QoS, Lifecycle Nodes, mainly.

[2021-02-16 13:33] feifanrensheng opened #280 "I meet some errors when i install knowrob."
CMake Error at /opt/ros/melodic/share/catkin/cmake/catkinConfig.cmake:83 (find_package):
  Could not find a package configuration file provided by "knowrob_common"
  with any of the following names:

    knowrob_commonConfig.cmake
    knowrob_common-config.cmake

  Add the installation prefix of "knowrob_common" to CMAKE_PREFIX_PATH or set
  "knowrob_common_DIR" to a directory containing one of th

[2021-02-16 13:34] #280 closed

[2021-02-16 13:43] feifanrensheng opened #281 "I meet some errors when i install knowrob."
CMake Error at /opt/ros/melodic/share/catkin/cmake/catkinConfig.cmake:83 (find_package):
Could not find a package configuration file provided by "knowrob_common"
with any of the following names:

knowrob_commonConfig.cmake
knowrob_common-config.cmake

Add the installation prefix of "knowrob_common" to CMAKE_PREFIX_PATH or set
"knowrob_common_DIR" to a directory containing one of the above files. I

[2021-02-16 15:38] sasjonge commented on #281
Hi @feifanrensheng ,

knowrob_common doesn't exist anymore and was integrated into knowrob. The up to date installation tutorial can be found on https://github.com/knowrob/knowrob

The packages in knowrob_addons weren't updated to work with the newest  version of knowrob. If you need a specific package from knowrob_addons it would have to be updated. If you simply want to install knowrob then they

[2021-02-17 01:36] feifanrensheng commented on #281
But, when I learn the Tutorial: KnowRob basics, the command "  rosrun rosprolog rosprolog knowrob_common“ will be failed.

[2021-02-18 01:32] feifanrensheng opened #282 "When I learn the Tutorial: KnowRob basics, the command " rosrun rosprolog rosprolog knowrob_common“ will be failed."

[2021-02-18 09:27] daniel86 commented on #281
I have updated the KnowRob basics wiki page

[2021-02-18 09:27] #281 closed

[2021-02-18 09:27] daniel86 commented on #282
I have updated the KnowRob basics wiki page,
please let me know if there still are problems.

[2021-02-18 09:27] #282 closed

[2021-02-18 09:28] daniel86 commented on #229
I have updated the KnowRob basics wiki page, most of the old tutorials remain marked as deprecated, however.
We will try to update some of them in the next months.

[2021-02-18 09:28] #229 closed

[2021-02-18 09:29] #274 closed

[2021-02-18 09:30] #111 closed

[2021-03-19 16:59] Thordreck opened #285 "Scope issues in SWRL rules"
Hi,
I have been getting into SWRL rules recently. Things work great for the most part, but I have run into (what I assume are) scope issues with some rules.
Consider the following rule with only one SWRL built-in in its body:

[code]
The resulting prolog predicate after parsing is the following:

[code]
Running the following commands:

[code]
Results in an exception thrown in the predicate `mng_tr

[2021-03-19 17:14] Thordreck opened #286 "Token parsing issues in SWRL rules"
I encountered a small issue with SWRL rules containing properties or classes with underscores in their names. The following rule is not correctly parsed:

[code]

The problem seems to be the call to `tokenize_atom` inside the predicate `swrl_phrase` in the file `parser.pl`. I'm adding a screenshot of the debugger below. You can see how `my_class` has been split.

![swrl_parsing_issue](https://user

[2021-04-02 14:55] Thordreck opened #289 "Notification hooks called with same event several times"
Hi there,
I have been working recently with the notification system KnowRob offers through the `notify:notify_hook/1` predicate. I noticed that in some cases I was receiving the exact same notification several times. I'm gonna focus on the case of generating new individuals in the knowledge base.
Let's say we create a new individual of the class `dul:'Person'`  as follows:
[code]
After running the

[2021-04-12 08:14] daniel86 commented on #289
Hi @Thordreck. yes the behavior you report seems unwanted.

I have worked on an alternative to notify, the watch predicate:
https://github.com/daniel86/knowrob/blob/aggregate/src/lang/db.pl#L455
It currently only allows to watch triples stored in mongo DB, and it is not linked to OWL reasoning.
So you could watch rdf:type and then add new facts about an instance derived
from its newly added type.

[2021-04-12 13:27] daniel86 commented on #286
Thanks for the report! I'll have a look into this.

[2021-04-13 07:21] daniel86 commented on #276
Computable predicates are now working again in my branch.
Here is an example: https://github.com/daniel86/knowrob/blob/aggregate/src/lang/computable.pl#L156
I will try to merge into master soon

[2021-04-15 13:30] Thordreck commented on #286
Hi Daniel,
Thanks for taking the time to look into this. I just found two more small issues related to the SWRL rules parsing. I'm gonna report them here in this comment, rather than opening a new issue if you don't mind.

### Cannot write decimal numbers

It seems like decimal numbers are not correctly parsed. Consider the following rule:

[code]

Parsing will stop at the point in the decimal num

[2021-04-15 13:44] Thordreck opened #292 "Notify on data/object property change"
Would it be possible to get notifications when a object or data property is modified? Similar to how it's done right now when a new instance is created. So far I have implemented it as follows for my own personal use.

For object properties I simply added `notify(object_property(...))` in the `holds` tell rule:

[code]

For data properties I did something similar (note the `notify(data_property(..

[2021-05-12 20:31] daniel86 commented on #285
Hi @Thordreck, thanks again for digging into these thing, much appreciated!

I think this is appropriate. Within a conjunction, before calling the first goal you would have nothing that restricts the scope, then each subgoal in the conjunction may further constrain the scope, basically computing the intersection with the scope before calling.

[2021-05-14 17:14] daniel86 commented on #285
The problem should be fixed now. Please re-open if there are still issues.

[2021-05-14 17:14] #285 closed

[2021-05-14 17:17] daniel86 commented on #289
I have marked the report as invalid and close it now as the notify subsystem was removed as explained above.

[2021-05-14 17:17] #289 closed

[2021-05-14 17:20] daniel86 commented on #292
Yes this is possible with watch which is currently limited to watching triples.
You could watch a property, or subject/object. then react on the generated events.
Currently I think deletions are not reported yet by watch.

[2021-05-16 15:14] daniel86 commented on #286
1. The first issue is indeed related to `tokenize_atom/2` splitting atoms at underscore characters. I think best would be to use a different tokenizer, or to fix the token sequence after calling it by iterating once over all tokens and creating a modified token sequence on the way
2. I cannot reproduce the second issue. Parsing floats seems to work fine here, this I have tried: `['greaterThan(?age

[2021-05-16 15:40] daniel86 commented on #292
closing the ticket as the `watch` interface was merged into master

[2021-05-16 15:40] #292 closed

[2021-05-28 11:33] hawkina commented on #229
Any updates on this yet? The last time I tried (yesterday) it was still out of date, and the rosinstall for knowrob-basic pulls the master branch which I think is your dev branch?

[2021-06-06 19:05] daniel86 commented on #229
well, the README files should be fine, and also the source code documentation.
Creating tutorials takes time, time I do not really have at the moment.
But maybe e.g. @sasjonge or @AbhijitVyas have worked on something

[2021-06-07 07:56] hawkina commented on #229
the knowrob-base.rosinstall points to the master branch which is the current development branch, which i've heared broke things a few times for other people.
I know you don't have time, but maybe we can ask someone else to keep an eye on this. Otherwise we spam you guys with 100 emails asking about how to do something over and over again. That might take more time then updating the tutorial/Readme

[2021-06-25 13:56] daniel86 commented on #229
I haven't heard about such things

[2021-07-14 14:41] benjaminalt opened #299 "kb_project(...) throws exception for predicates whose second argument is not ground"
When asserting facts into the knowledge base with `kb_project(...)`, I came across the problem that for some facts, `kb_project` throws the following error:
[code]
This happens for at least some binary predicates from _src/model/DUL.pl_ and _src/model/SOMA.pl_. It does not happen when the second argument is ground, and it also does not happen for unary predicates.

Example:
[code]
When I first mak

[2021-07-15 03:36] JackeggAdam commented on #269
Hi @daniel86

I have a related error while running 'rosrun rosprolog rosprolog knowrob'

~$ rosrun rosprolog rosprolog knowrob
[ INFO] [1626318736.364640376]: The knowledge base is starting up, that may take a few moments!
[ INFO] [1626318736.369469965]: mng_db_name(roslog)
ERROR: /home/dbq/ros_ws/knowrob_ws/src/knowrob/src/lang/mongolog/unification.pl:242:
	lang_query:kb_expand/2: Undefined proce

[2021-07-15 14:35] benjaminalt opened #300 "kb_project(...) fails with has_subevent"
When trying to assert into the knowledge base that some action is a subevent of another action, the assertion fails:
[code]
If I'm not mistaken, the second query should work and return true instead. Looking at the definition of `has_subevent`:
[code]
`is_action(Sub)` should be true, so `holds(Event,dul:hasConstituent,Sub)` should be asserted into the knowledge base.

Interestingly, executing `hold

[2021-07-29 12:14] albertoOA opened #302 "mng_restore does not know what to do with stored files"
After having exported the current knowledge using mgn_dump, the knowledge could not be imported using mng_restore. The mongo api returned a message saying that it did not know what to do with the files (see the screenshot below).

![mng_restore_problem](https://user-images.githubusercontent.com/15651891/127489292-4282f619-3d49-4793-8c8c-f8daaefe537d.png)

I found a way to solve this, although I am

[2021-09-13 09:55] JeremiasThun opened #304 "Prolog error in tf_mng_tree/2: `lookup_transforms/2` doesn't seem to be accessable"
Hi,
I am trying to run the predicate `tf_mng_tree/2` from `f_mongo` module, but prolog returns an `existence_error` for a predicate inside of `tf_mng_tree/2`:

    ?- tf_mng_tree(0.0, Tree)
    Prolog query failed: error(existence_error(procedure,:(tf_mongo,/(lookup_transforms,2))),context(:(tf_mongo,/(tf_mng_tree,2)),_370))

In line 229 of `tf_mongo.pl`, the predicate `lookup_transforms/2` is run

[2021-09-27 13:19] JeremiasThun opened #305 "How to access mongo without access control?"
The KnowRob MongoInterface knows two ways to communicate with mongo: either via localhost with no specifications at all or with authentication and everything. But what if I want to connect to a MongoDB with a host other than localhost and no access control (as is the default for mongo installations)?

It doesn't seem to be possible right now.

https://github.com/knowrob/knowrob/blob/4d7af5484683cf

[2021-09-27 13:20] JeremiasThun commented on #305
In my case, this other mongo host is a docker container, running in a GitLab CI/CD pipeline as Service.

[2021-09-28 09:50] benjaminalt commented on #304
I came across the same thing recently and created a PR with a fix for this: https://github.com/knowrob/knowrob/pull/307

[2021-10-01 14:59] divishad12 opened #309 "Error on launching " roslaunch knowrob knowrob.launch""
On launching the knowrob launch file, I am getting following error.

SUMMARY
========

PARAMETERS
* /initial_goal: true
* /initial_package: knowrob
* /num_pl_threads: 2
* /num_ros_threads: 4
* /rosdistro: noetic
* /rosversion: 1.15.11

NODES
/
  json_wrapper (rosprolog/json_ros.py)
  rosprolog (rosprolog/rosprolog_node)

ROS_MASTER_URI=http://localhost:11311

process[rosprolog-1]: started with pid

[2021-10-06 07:40] benjaminalt opened #310 "KnowRob can't be started via roslaunch after Prolog update"
When starting KnowRob via `rosrun knowrob knowrob.launch`, it gets stuck in `urdf_init` (`has_kinematics_file` does not return). I could reproduce this with the current KnowRob master in a clean VM with nothing installed but ROS, Prolog and KnowRob.

This is "caused" by the Prolog update on 30. September, (version 8.2.4 --> 8.4.0, see https://launchpad.net/~swi-prolog/+archive/ubuntu/stable) which

[2021-10-06 07:41] benjaminalt commented on #309
Maybe this is related to https://github.com/knowrob/knowrob/issues/310? You could try the workaround there of manually building and installing swi-prolog 8.2.4.

[2021-10-06 14:25] daniel86 commented on #310
@benjaminalt thanks for the report. This is an odd error. I couldn't pinpoint the problem yet, but I will try to get it fixed asap

[2021-11-08 11:37] JeremiasThun opened #312 "knowrob:vec3 seems to be invalid"
When running the HermiT reasoner (in the implementation used in SOMA: https://github.com/ease-crc/soma/tree/master/.github/actions/hermit) on `knowrob.owl`, the class `vec3` is being rejected:

[code]

Removing it seems to solve this issue.

https://github.com/knowrob/knowrob/blob/4d7af5484683cf2ff0aedd3b0126ae8c5077e035/owl/knowrob.owl#L81-L83

[2021-11-08 12:36] JeremiasThun opened #313 "query expansion failed: neem_validation.pl, get_actions_with_participants_without_role/1"
When running `get_actions_with_participants_without_role/1`, located in `utility/neem_validation.pl`, I get the following error:

[code]

https://github.com/knowrob/knowrob/blob/4d7af5484683cf2ff0aedd3b0126ae8c5077e035/src/utility/neem_validation.pl#L40-L50

[2021-11-08 15:54] JeremiasThun opened #314 "Lost difference between `double` and `float` in MongoDB"
When recording data with KnowRob, it gets stored in MongoDB. But as stated at https://docs.mongodb.com/manual/reference/bson-types/ MongoDB has no distinction between `double` and `float` data types. Both are handled the same way: as `Decimal128`.

KnowRob's ontologies however do contain different restrictions on those data types for different OWL classes. For example:

https://github.com/knowrob/

[2021-11-21 19:09] sasjonge commented on #310
@daniel86 I could pinpoint the problem to this line of code:

https://github.com/knowrob/knowrob/blob/4d7af5484683cf2ff0aedd3b0126ae8c5077e035/src/utility/threads.pl#L204

If I set the time to a negative number, so that thread_get_message fails immediately if it doesn't get a message, KnowRob will start. Weirdly a number bigger than 0 will still result in an lock (the code will not step over this

[2021-11-24 12:46] sasjonge opened #316 "KnowRob startup freezes if a triple call is exectued during initialization"
This issue is a follow up on [this](https://github.com/knowrob/knowrob/issues/310) issue. It started with the update to SWI-Prolog >8.4 on ubuntu https://launchpad.net/~swi-prolog/+archive/ubuntu/stable

How to reproduce:

Add the line kb_call(triple(IR, dul:realizes, IO) after [this](https://github.com/knowrob/knowrob/blob/b4576b41227ca776766cf3bef13cf3a43ee707c6/src/__init__.pl#L55) line.
Then t

[2021-11-24 12:48] sasjonge commented on #310
@benjaminalt This issue should be resolved by this PR: https://github.com/knowrob/knowrob/pull/315

It is just a hotfix and I created a new issue that is more specific to the general issue: https://github.com/knowrob/knowrob/issues/316

[2021-11-25 14:04] #310 closed

[2021-11-26 13:26] kaviyachandran commented on #312
This issue is fixed in [PR](https://github.com/knowrob/knowrob/pull/318)

[2021-12-07 13:12] #312 closed

[2021-12-17 16:35] sasjonge opened #319 "remember/1 does not work without setting collection_name"
remember/1 does not work without setting collection_name, see [this](https://github.com/knowrob/knowrob/blob/5b101d821d5415fa60e6dbb5c03daeba2a0e6b1b/src/lang/db.pl#L62) line.

Possible solutions could be to add default values in the prolog files or a setting that allows user to set the collections that should be imported.

[2021-12-20 13:07] jpcoffelt opened #320 "Troubles following tutorials"
I am trying to follow the tutorial [here ](http://www.knowrob.org/doc/knowrob_basics), but on the step:

`?- tripledb_load('package://iai_semantic_maps/owl/kitchen.owl').`

I receive the error message:

`ERROR: Unknown procedure: tripledb_load/1 (DWIM could not correct goal)`.

When attempting to troubleshoot the problem, I was also unable to locate the _knowrob_map_data_ package mentioned in the

[2021-12-20 13:26] jpcoffelt commented on #320
As a followup, any chance the deprecated tutorials [here ](http://www.knowrob.org/doc) might be updated, especially "Reasoning about objects" and "Create a model of your robot in the Semantic Robot Description Language (SRDL)"? They seem like they were well made and would be very useful to current KnowRob newbs.

[2021-12-20 13:58] jpcoffelt opened #321 "Installation troubles on Ubuntu 20 (with ROS Noetic)"
I am having troubles installing KnowRob on Ubuntu 20 with ROS Noetic. When I get to this step:

`rosdep install --ignore-src --from-paths .`

I receive this error:

[code]

However, cloning directly via

`git clone https://github.com/knowrob/rosprolog.git`

and then making seemed to work.

[2022-01-11 14:03] sasjonge commented on #321
I fixed this issue with this PR:

https://github.com/knowrob/rosprolog/pull/20

During the installation on Noetic, you will have to make sure that you have the noetic branch of rosprolog, before you build your workspace.

[2022-01-11 21:07] mahyamkashani commented on #320
Have you loaded the code into the interpreter? ['/file/path'].
you can write prolog code into pl file and the load them in command line.

[2022-01-12 12:54] #321 closed

[2022-01-12 12:57] jpcoffelt commented on #320
I think the issue is that the command/macro/function/whatever "tripledb_load" is not recognized. The OWL file can be located, but the command "tripledb_load" appears to be deprecated.

What code should I put into the .pl file?

[2022-01-16 02:42] mahyamkashani commented on #320
I got it wrong. tripledb_load can not work for me also when I want to query on it.
This predicate should use to load ontology:
load_owl('owl file inyour catkinized package', namespace[give a name]).
like:
load_owl('package://knowrob/owl/maps/iai_room_v1',[namespace(room)]).

this works for me.

[2022-03-14 15:35] Rezenders opened #324 "ontologydesignpatterns.org is not reachable"
[ontologydesignpatterns.org](http://ontologydesignpatterns.org/) is not reachable (maybe this is temporary) but with this `catkin_make` fails to build knowrob package

[code]

In the CMake file, wouldn't it be better to use the [ontologies github repo](https://github.com/ease-crc/dul) directly to avoid this type of problem?

Something like this:

[code]

`catkin_make` completes with this

I can op

[2022-03-14 16:04] Rezenders commented on #324
Although I am able to build the package with `catkin_make` I still get errors when trying to run `knowrob.launch`

[code]

[2022-03-16 07:43] sasjonge commented on #324
Hello Gustavo,
the link to DUL was temporarily down. It works for me now, again.
Maybe one could create a Issue for this case (a link is down), so that the build doesn't die, but instead a fork or local version of DUL is used.

[2022-03-16 15:08] sasjonge opened #325 "kb_projects doesn't fail if it should be"
If I call kb_project with something that should fail I still get an answer. For example the query:

`kb_project(instance_of(A,dul:'Action')),writeln(A).`

will print out
`_310`

or similar. The rosprolog_commandline tool shows

`A:` _.

As a result.

[2022-03-23 15:35] sasjonge commented on #325
I could track the error down to

https://github.com/knowrob/knowrob/blob/04793aa6a8520fceb459a834f142f9ae6ed2d85d/src/lang/terms/triple.pl#L152

Interestingly the all_ground predicate throws a instantiation error if I call

`kb_project(triple(A, rdf:type, soma:'Event')).`

but no instantiation error if I call

`kb_project(triple(A, rdf:type, soma:'Event')).`

[2022-05-04 05:00] nitin5 commented on #320
Hi
I am unable to run the example as well. I tried command posted by Mahyamkashani as well but no luck. Any places where updated tutorials are available?

[code]

[2022-05-04 10:48] nitin5 commented on #320
iai_room_v1.owl file exists but i still get the same error:

[code]

[2022-05-04 12:34] mahyamkashani commented on #320
Hi,
Which branch are you using? Master or other branches?

Please first check that MongoDB is running or not by using:

`sudo systemctl status mongodb.service`

if it is not active, please restart it by using:

`sudo systemctl start mongodb.service`

make sure that you already call below code in each terminal:

`source ~/catkin_ws (your catkin workspace that you create ros packages)/devel/setup.ba

[2022-05-05 03:23] nitin5 commented on #320
Thanks a lot. It worked for me.
I request you to kindly guide me where I can look for updated tutorials/guidelines. I have been wandering across many pages (including depracated docs of Knowrob hoping to get something). Since I am new to KnowRob, I found OpenEase's NEEM demos difficult to setup and appreciate.

I have downloaded master branch. I have compiled it using catkin. I am using ROS Melodi

[2022-06-10 10:12] superlee1 opened #328 "Inconsistency in knowrob.owl"
Hi,
there seems an issue in the knowrob.owl while reasoning with Pellet. Please find the following information copied from Protege:
""
_An error occurred during reasoning: Axiom:  Transitive: **hasPart**.
org.mindswap.pellet.exceptions.UnsupportedFeatureException: Axiom:  Transitive: hasPart
	at com.clarkparsia.pellet.owlapiv3.PelletVisitor.addUnsupportedAxiom(PelletVisitor.java:119) ~[na:na]
	at

[2022-06-10 11:58] sasjonge commented on #328
Hi,

could you tell me how you open knowrob in protege? Do you open a local version or the one at the URI of knowrob?

Which version of pellet are you using? I couldn't reproduce the error on my protege with pellet.

[2022-06-10 11:59] sasjonge commented on #324
This PR was fixed by https://github.com/knowrob/knowrob/pull/327

We are now hosting DUL ourself.

[2022-06-10 11:59] #324 closed

[2022-06-14 16:55] superlee1 commented on #328
Hi, thanks for the timely feedback! Please find the required info:

actions: download git repo -> open the knowrob.owl in the owl folder -> Protege prompted for missing ontology of "URDF" -> import local URDF.owl -> successfully opened in Protege -> run Pellet -> same inconsistency error reproduced

Protege version: 5.5
Pellet version: 2.2.0 (default)

Thanks for your effort!
:D

[2022-06-28 06:29] Aqudi opened #329 "Is URDF2SRDL deprecated?"
I'm trying to make a model of my robot using URDF2SRDL, but there is no file in master branch.
Is it no longer used?

[2022-06-28 11:04] Janfiderheld opened #330 "Error on startup - iri_scheme `http' does not exist"
Hello,
I followed the tutorial for the installation without bigger problems. Now I'm trying to start KnowRob using
`roslaunch knowrob knowrob.launch`

However, the following output is returned:
[code]

Afterwards, the process is frozen and I cannot interact with it except for killing it. Am I missing something?
Here are some more details about my setup:

- Ubuntu 20.04.4 LTS
- ROS Noetic v1.15.14

[2022-06-29 17:16] jophone opened #331 "How to download the NEEMS"
I read the NEEM-Handbook and followed it instruction to install Hadoop and DVC. However, when i try to download specific episodes using `dvc get` or `dvc pull`, it seems that my host can't connect to the hadoop cluster.
how to solve this problem？ Is it only possible to download via the university’s intranet?

The error message as follow:
"INFO ipc.Client: Retrying connect to server: 134.102.137.65

[2022-06-30 08:43] Janfiderheld commented on #330
Update:
I tried to manually register 'http' as an iri scheme by adding the following lines to the [db.pl](https://github.com/knowrob/knowrob/blob/master/src/lang/db.pl):
[code]

With this change, KnowRob behaves the same way during startup but the error message changed from
`ERROR:    iri_scheme 'http' does not exist`
to
`ERROR:    lang_db:version_matcher/2: Unknown procedure: lang_db:digits/3`
fo

[2022-07-03 12:59] Aqudi commented on #329
Thank you for your response.
Then, is there a way to replace URDF2SRDL?

[2022-07-05 10:26] daniel86 commented on #329
Hello. Have a look here: https://github.com/knowrob/knowrob/blob/master/launch/map.launch
It loads PR2 OWL file + URDF. Then you basically have kinematics from URDF plus components defined in the OWL file.
The whole SRDL ontology has not been aligned yet with the SOMA ontology used by KnowRob since some time, but it is high priority to work on capability modelling.

[2022-07-05 10:28] daniel86 commented on #330
Hello. sorry for the delay. Could it be that you need to update your Prolog version?
SWI Prolog >= 8.2.4 is written in the readme

[2022-07-06 14:29] sasjonge commented on #330
Hello,

we merged a PR that could have potentially fixed this issue:

https://github.com/knowrob/knowrob/pull/332

Could you test if the error still occurs for you?

[2022-07-06 14:58] Janfiderheld commented on #330
Hey, that change fixed my problem and the errors are gone. Thank you very much! :)

However, I still have the problem that the process freezes after
`[ INFO] [1657119056.771807552]: rosprolog service is running.`
Is this another occurrence of the bug described in #316?

[2022-07-06 15:04] sasjonge commented on #330
This is the last message you get from the roslaunch. Can you send queries over the rosprolog_commandline? You start the commandline with this command:

`rosrun rosprolog rosprolog_commandline.py`

[2022-07-06 15:13] Janfiderheld commented on #330
Ah, now I understand. I thought you were supposed to start the commandline afterwards in the same terminal window. When I'm using a different terminal, everything works fine and I can send queries. Thanks for your help!

[2022-07-06 15:13] #330 closed

[2022-07-07 07:07] Aqudi commented on #329
Thank you!

[2022-07-07 07:07] #329 closed

[2022-07-07 09:19] sasjonge commented on #331
Hello, I think the better repository for this issue would have been the SOMA repo. I think I resolved the problem with you by sending the files, so I would close this issue here.

[2022-07-07 09:19] #331 closed

[2022-07-14 06:00] Aqudi opened #333 "Error while building knowrob kinetic version"
Hello,
I tried to build knowrob kinetic version, but I met the error "Could not find the required component 'json_prolog_msgs'."

'json_prolog_msgs' package was found at the groovy branch [json_prolog_msgs](https://github.com/knowrob/knowrob/tree/groovy/json_prolog_msgs) but not in the kinetic branch.

Is knowrob kinetic version available?

[2022-07-14 07:21] Aqudi commented on #333
After installing 'iai_common_msgs' package from https://github.com/code-iai/iai_common_msgs.git, the error related to json_prolog_msgs disappeared.

[2022-07-14 07:21] #333 closed

[2022-07-18 15:32] sasjonge opened #335 "Error when loading owl file containing a owl:hasValue relation with a decimal as value."
If we use a OWL file (with load_owl) containing  a owl:hasValue relation with a decimal as value, we get the following error:

`Prolog query failed: error(type_error(integer,1.4),_8350)
`
A small example would be this declaration:
[code]

[2022-07-18 15:34] sasjonge commented on #335
The error disappears if we change

https://github.com/knowrob/knowrob/blob/c09aef91825fb49e26c83b7bc8965c3008ea7e2f/src/model/XSD.pl#L98

to `xsd_misc_type(xsd:'decimal').`, as it is defined for float and double. The owl file is still not loaded correctly: The hasValue triple is missing in the triple database.

[2022-07-20 12:29] sasjonge commented on #328
I could reproduce the error with Pellet, but other reasoners are not throwing this error. The definitions stem from DUL and SOMA which a checked for their consistency in the CI of the SOMA repository (see for example [here](https://github.com/ease-crc/soma/runs/7409078670?check_suite_focus=true)).

I believe Pellet is not any more maintained, so the error could be within Pellet.

[2022-07-22 09:42] sasjonge commented on #309
@divishad12 Do you still have this problem, or could we close this issuue?

[2022-07-25 11:17] MinchoU opened #338 "Error when launching **roslaunch knowrob knowrob.launch**"
My development is Ubuntu 20.04 and ROS noetic. I'm installing noetic version of knowrob from fork of https://github.com/hawkina/knowrob. But I'm facing error when launching command

**roslaunch knowrob knowrob.launch**

Error message is shown like this :

Warning: /home/minu/perception_ws/src/knowrob/src/__init__.pl:52:
Warning:    Goal (directive) failed: user:knowrob:initialize_db
ERROR: /home/m

[2022-07-25 12:48] sasjonge commented on #338
Hey, this sounds like the MongoDB Server is not running. Did you install MongoDB (see [here](https://github.com/knowrob/knowrob#installation-of-swi-prolog-and-mongodb)? If yes, then mongo is potentially not working. You could start it with `sudo systemctl start mongod.service`

[2022-07-26 01:38] MinchoU commented on #338
Thanks! It worked perfectly.

[2022-07-26 01:38] #338 closed

[2022-07-26 11:58] #309 closed

[2022-07-26 12:01] sasjonge commented on #304
This was fixed by https://github.com/knowrob/knowrob/pull/307

[2022-07-26 12:01] #304 closed

[2022-07-28 07:16] Aqudi opened #339 "How to save perception data using computable"
Hello, I want to store recognition results such as object detection and face detection using Computable.
However, I cannot find any documents on this. How do I use this feature?

And if I use computable predicate, would the perception data be stored in mongodb too?

Thanks!

[2022-07-28 09:58] #335 closed

[2022-07-28 10:42] daniel86 commented on #339
Hello @Aqudi, what form do the recognition results have? what is the information content?
Generally speaking, the results can be conceptualized in terms of the ontology in which case the data would end up in the triple storage which is currently implemented with MongoDB. If you rather want to quantify the results, than you could encode the data in JSON and also load into MongoDB. In this case you

[2022-07-28 10:45] daniel86 commented on #325
@sasjonge hmm ok, so there is a predicate to generate a new name. but if the variable is not instantiated project should fail. that's your point, right?

"I could track the error down to" so all_ground succeeds where it shouldn't?

[2022-08-10 13:44] Aqudi commented on #339
Hello @daniel86, thank you for your response!

I'm currently studying SOMA, DUL, and Knowrob to convert data to ontology format.

I haven't decided exactly what data to use yet. However, I believe that sensor information such as object detection and battery condition will be included, so I will leave a rough shape below.

**object detection**
[code]

**battery status**
[code]

[2022-08-10 14:41] Aqudi commented on #339
I have additional questions about the process of utilizing Knowrob.

I want to input sensor data in the same way as the picture below. Is this process correct?

![image](https://user-images.githubusercontent.com/35187793/183925220-9cad1668-71e1-4977-af83-3bb3f0d4eb92.png)

And below is a example of computable predicate `comp_nearby` that calculates whether two objects are close or not. Is it right

[2022-10-12 11:44] daniel86 commented on #339
@Aqudi yes, in principle. Saving results of the computable to MongoDB might be a bit problematic at the moment.
Also regarding the positions, I usually use TF message format of ROS without storing the position data in the knowledge graph. Only qualitative spatial relations I store in the graph. There are some predicated in KnowRob to interact with TF, and a small implementation of a belief state w

[2022-11-19 09:35] daniel86 opened #357 "Max lenght of mongo aggregation pipeline exceeded"
Asserting larger amounts of data may cause this exception:
[code]

It happened to me when using `kb_project/3` with a list in the first argument.

- MongoDB server version: 5.0.14

[2022-11-19 09:37] daniel86 commented on #328
I am closing this issue due to inactivity. please re-open if there are still problems

[2022-11-19 09:37] #328 closed

[2022-11-23 19:15] Dorteel opened #358 "Installation error: catkin_make fails (can't download SOMA-HOME-current)"
Hi,

I'm trying to install KnowRob following the instructions, but getting a timeout when running catkin_make.
[code]
Do you have any suggestions? I'm not sure why this happens, as I can access [SOMA-HOME](https://ease-crc.github.io/soma/owl/current/SOMA-HOME.owl) through my browser.
Thanks in advance!

[2022-11-28 09:53] nitin5 commented on #358
I am able to install Knowrob today.

Are you able to open link 'https://ease-crc.github.io/soma/owl/current/SOMA-HOME.owl' in browser? Just to check whether you have connectivity to the site.

[2022-11-28 09:58] nitin5 commented on #339
Greetings,
@Aqudi @daniel86
I am also trying to do the same i.e. take data from simulator, run perception modules and perform some planning activity. I am looking replicate the KnowRob2 paper's simulation.
Any pointers in this direction will be great help. I am pretty new to Prolog but have background in other programming languages.

Thank you.